{% extends 'base.html' %}	
{% load staticfiles %}
{% load thumbnail %}
{% load humanize %}
{% load embed_video_tags %}
{% load comments %}
{% load i18n %}
{% load notification_tags %}
{% block title %}{% trans "Notifications" %}{% endblock %}

{% block slide %}

   <section id="home" class="home">
        <img src="{% static 'assets/images/food_1.jpg' %}">

    </section>
{% endblock slide %}

{% block header %}

   <section class="rp-post-header margin-top-40">
        <h4 class="rp-post-title h4-responsive">{% trans 'Notifications' %}</h4> 
            <hr>

    </section>

 
{% endblock header %}

{% block content_base %}
<div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
  
            	{% block content %}
                     {% if notifications %}
				     <button class="btn btn-primary mark-all-notifications" data-mark-action="read">
				    {% trans "Marquer tous comme lu" %}</button>
				    <!-- <button class="btn btn-primary mark-all-notifications" data-mark-action="unread">{% trans "Marquer tous comme non lu" %}</button>  -->
				    <br><br>
				    <ul class="notifications list-group">

				    {% render_notifications using request.user.notifications.active.unread %}

				    </ul>
                     {% else %}
                         <h4>{%  trans "Aucune notification" %}</h4>
                     {% endif %}
				{% endblock %}



           </div>
        </div>
    </div> 

    

                <!-- End   -->

{% endblock %}


                        