{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load i18n %}

{% load account socialaccount %}
{% load socialaccount %}
{% providers_media_js %}
{% block head_title %}{% trans "Echec Social Network account" %}{% endblock %}

{% block slide %}
   
<section id="home" class="home">
    
      <!--   <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_home_slider">
                            <div class="single_home_slider">
                                <div class="main_home wow"> -->
                                    <!-- <h1>Cook' iT</h1> -->
                                    <img src="{% static 'assets/images/food_1.jpg' %}">
                                    <!-- <p class="subtitle">Découvir, Cuisiner, Savourer</p>

                                    <div class="home_btn">
                                        <a href="" class="btn btn-primary">LEARN MORE</a>
                                    </div> -->
<!-- 
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
{% endblock slide %}

{% block header %}

   
{% endblock header %}

{% block content_base %}

<section class="portfolio">
    <div class="container">                                 
        <div class="row ">
             <div class="col-md-offset-4 col-md-4">
                <div class="login">
                   
                  <h1>{% trans "Social Network Login Failure" %}</h1>

                    <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>

                </div>
            </div>  
        </div> 
    </div>
</section>       

{% endblock %}
