{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load i18n %}
{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block slide %}
   
<section id="home" class="home">
    
      <!--   <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_home_slider">
                            <div class="single_home_slider">
                                <div class="main_home wow"> -->
                                    <!-- <h1>Cook' iT</h1> -->
                                    <img src="{% static 'assets/images/top-recette.jpg' %}">
                                    <!-- <p class="subtitle">Découvir, Cuisiner, Savourer</p>

                                    <div class="home_btn">
                                        <a href="" class="btn btn-primary">LEARN MORE</a>
                                    </div> -->
<!-- 
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
{% endblock slide %}

{% block header %}

   
{% endblock header %}


{% block content_base %}
<h1>{% trans "Compte inactif" %}</h1>

<p>{% trans "Ce compte a été désactivé" %}</p>
{% endblock %}
