{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirmez votre e-mail" %}{% endblock %}

{% block slide %}
   
<section id="home" class="home">
    
    <img src="{% static 'assets/images/food_1.jpg' %}">
                                    
    </section>
{% endblock slide %}

{% block header %}

   
{% endblock header %}

{% block content_base %}

<section class="portfolio">
     <div class="container">                                 
        <div class="row ">

            <div class="col-md-offset-2 col-md-8">
				<h1>{% trans "Confirmez votre adresse e-mail" %}</h1>

				{% if confirmation %}

				{% user_display confirmation.email_address.user as user_display %}

				<p>{% blocktrans with confirmation.email_address.email as email %}Veuillez  confirmer que cette adresse  <a href="mailto:{{ email }}">{{ email }}</a> est bien celle de {{ user_display }}.{% endblocktrans %}</p>

				<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
				{% csrf_token %}
				    <button type="submit">{% trans 'Valider' %}</button>
				</form>

				{% else %}

				{% url 'account_email' as email_url %}

				<p>{% blocktrans %}Ce lien est soit expiré soit invalide. Un problème est survenu.<a href="{{ email_url }}"> </a>{% endblocktrans %}</p>

				{% endif %}
			</div>  
        </div>  
    </div>
</section> 
{% endblock %}
