{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load i18n %}

{% load account socialaccount %}
{% load socialaccount %}
{% providers_media_js %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block slide %}
   
<section id="home" class="home">
    
      <!--   <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_home_slider">
                            <div class="single_home_slider">
                                <div class="main_home wow"> -->
                                    <!-- <h1>Cook' iT</h1> -->
                                    <img src="{% static 'assets/images/food_1.jpg' %}">
                                    <!-- <p class="subtitle">Découvir, Cuisiner, Savourer</p>

                                    <div class="home_btn">
                                        <a href="" class="btn btn-primary">LEARN MORE</a>
                                    </div> -->
<!-- 
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
{% endblock slide %}

{% block header %}

   
{% endblock header %}

{% block content_base %}

 <!--   <h4>Login with:</h4>
               
                <ul class="list-inline">
                  
                  <li> <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn-floating btn-lg-full fb-bg"><i class="fa fa-facebook"> </i></a>
                  </li>
                  <li><a href="{% url 'google_login' %}" class="btn-floating btn-lg-full gplus-bg"><i class="fa fa-google-plus"> </i></a></li>
                  <li><a class="btn-floating btn-lg-full tw-bg"><i class="fa fa-twitter"></i></a></li>
                  
                </ul>
                <h4>Or use your email </h4>
                
                <form role="form" method="POST" action="{% url 'account_login' %}">
                    
                  {% csrf_token %}
                  
                   {% for hidden in form.hidden_fields %}
                      {{ hidden }}
                    {% endfor %}

                   
                      <div class="form-group">
                          
                              
                              {{ form.login |add_class:'form-control'}}
                              <span class="help-block">{{ form.login.error }}</span>
                         
                      </div>
                      <div class="form-group">
                         
                             
                              {{ form.password |add_class:'form-control'}} 
                              <span class="help-block">{{ form.password.error }}</span>
                      </div>
                     
                                    
                  
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <input class="btn btn-sm btn-primary" type="submit" value="Log in">
                                  </form> -->

<section class="portfolio">
     <div class="container">                                 
        <div class="row ">

            <div class="col-md-offset-4 col-md-4">
                <div class="login">
                    <h4 class="text-center">Login with</h4>
                            
                      <div class="box">
                           <div class="content">
                                <div class="social">
                                    <a  href="{% url 'google_login' %}"  class="circle google">
                                      <i class="fa fa-google-plus fa-fw"></i>
                                    </a>
                                    <a href="{% provider_login_url "facebook" method="oauth2" %}"  class="circle facebook" >
                                      <i class="fa fa-facebook fa-fw"></i>
                                    </a>
                                </div>

                            <div class="division">
                                <div class="line l"></div>
                                    <span>or</span>
                                <div class="line r"></div>
                                <h4 class="text-center">Use your email </h4>
                            </div>
                              
                            <div class="form loginBox">
                                <form method="POST" action="{% url 'account_login' %}">
                                      {% csrf_token %}

                                      {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-error">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                          
                                    {% for hidden in form.hidden_fields %}
                                      {{ hidden }}
                                    {% endfor %}

                                   
                                    <div class="form-group">
                                  
                                        {{ form.login |add_class:'form-control'}}
                                        <span class="help-block">{{ form.login.error }}</span>
                                     
                                    </div>
                                    <div class="form-group">
                                     
                                        {{ form.password |add_class:'form-control'}} 
                                        <span class="help-block">{{ form.password.error }}</span>
                                    </div>
                                    
                          
                                    {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                    {% endif %}
                                        <input class="btn btn-sm btn-primary btn-login" type="submit" value="Log in">

                                </form>
                            </div>

                            <div class="forgot login-footer">
                                <span>Looking to 
                                     <a href="{% url 'account_signup' %}">{% trans 'create an account' %}</a>
                                ?</span>
                            </div>
                        </div>
                    </div>
                                  
                </div>           
            </div>  
        </div>  
    </div>
</section>    

{% endblock %}



    <!--     <script type="text/javascript">
          $(document).ready(function() { 
                
                toastr.options = {
                  "closeButton": false,
                  "debug": false,
                  "newestOnTop": false,
                  "progressBar": true,
                  "positionClass": "toast-top-right",
                  "preventDuplicates": false,
                  "onclick": null,
                  "showDuration": "300",
                  "hideDuration": "1000",
                  "timeOut": "5000",
                  "extendedTimeOut": "1000",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
                 }

           

            });
        </script> -->
        
      





