{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block slide %}
   
<section id="home" class="home">
    
      <!--   <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_home_slider">
                            <div class="single_home_slider">
                                <div class="main_home wow"> -->
                                    <!-- <h1>Cook' iT</h1> -->
                                    <img src="{% static 'assets/images/top-recette.jpg' %}">
                                    <!-- <p class="subtitle">Découvir, Cuisiner, Savourer</p>

                                    <div class="home_btn">
                                        <a href="" class="btn btn-primary">LEARN MORE</a>
                                    </div> -->
<!-- 
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
{% endblock slide %}

{% block header %}

   
{% endblock header %}


{% block content_base %}
<section class="portfolio">
    <div class="container">                                 
        <div class="row ">

    		<div class="col-md-offset-2 col-md-8 card padding-20">
			    <h4>{% trans "Password Reset" %}</h4>
			    
			    {% if user.is_authenticated %}
			    {% include "account/snippets/already_logged_in.html" %}
			    {% endif %}
			    
			    <p>{% blocktrans %}Nous venons de vous envoyer un mail. Veuillez nous contacter si vous ne le recevez pas dans quelques minutes.{% endblocktrans %}</p>

			</div>  
        </div>  
    </div>
</section> 
{% endblock %}
