{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block slide %}
   
<section id="home" class="home">
    
      <!--   <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_home_slider">
                            <div class="single_home_slider">
                                <div class="main_home wow"> -->
                                    <!-- <h1>Cook' iT</h1> -->
                                    <img src="{% static 'assets/images/food_1.jpg' %}">
                                    <!-- <p class="subtitle">Découvir, Cuisiner, Savourer</p>

                                    <div class="home_btn">
                                        <a href="" class="btn btn-primary">LEARN MORE</a>
                                    </div> -->
<!-- 
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
{% endblock slide %}

{% block header %}

   
{% endblock header %}

{% block content_base %}

<section class="portfolio">
     <div class="container">                                 
        <div class="row ">

            <div class="col-md-offset-2 col-md-8 card padding-20">
			    <h4 class="text-center">{% trans "Changer votre mot de passe" %}</h4>
                <hr>

			    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
			        {% csrf_token %}
			       <div class="col-md-offset-4 col-md-4"> 
                        <div class="form-group">
                            {{ form.oldpassword|add_class:'form-control' }} 
                            <span class="help-block">{{ form.oldpassword.error }}</span>
                        </div>
                        <div class="form-group">
                            {{ form.password1|add_class:'form-control'}} 
                            <span class="help-block">{{ form.password1.error }}</span>
                        </div>
                        <div class="form-group">
                            {{ form.password2|add_class:'form-control'}} 
                            <span class="help-block">{{ form.password2.error }}</span>
                        </div>
    			        <button type="submit" name="action" class="btn btn-primary">{% trans "Envoyer" %}</button>
                    </div>
			    </form>
			</div>  
        </div>  
    </div>
</section> 
{% endblock %}
