{% extends "recipe/recipe_box_user.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Modifier le mot de passe" %}{% endblock %}


{% block content_box_user %}
    <div class="row padding-20">
        <div class="col-lg-4">
             <ul class="list-block">
                <li>
                    <a href=""> Profil</a>
                </li>
                <li>
                    <a href="" class="active"> Mot de passe</a>
                </li>
                
            </ul>
        </div>
        <div class="col-lg-4 content-left">    
            
		    <h4>{% trans "Modifier votre mot de passe" %}</h4>

		    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
		        {% csrf_token %}
		     
                    <div class="form-group">
                        {{ form.oldpassword|add_class:'form-control' }} 
                        <span class="help-block">{{ form.oldpassword.error }}</span>
                    </div>
                    <div class="form-group">
                        {{ form.password1|add_class:'form-control'}} 
                        <span class="help-block">{{ form.password1.error }}</span>
                    </div>
                    <div class="form-group">
                        {{ form.password2|add_class:'form-control'}} 
                        <span class="help-block">{{ form.password2.error }}</span>
                    </div>
		        <input type="submit" class="btn btn-primary" name="action" value="{% trans 'Valider' %}"/>
		    </form>
        </div>
    </div>
			
{% endblock content_box_user %}
