{% extends "base_login.html" %}

{% load staticfiles %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load i18n %}

{% load account socialaccount %}
{% load socialaccount %}
{% providers_media_js %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section class="portfolio">
    <div class="container">                                 
        <div class="row ">

		    <div class="col-md-offset-4 col-md-5">
		        <div class="login">
		            <h4 class="text-center">{% trans 'Inscrivez-vous' %}</h4>
		                    
		              <div class="box">
		                   <div class="content">
		                       <!--  <div class="social">
		                            <a  href="{% url 'google_login' %}" class="circle google">
		                              <i class="fa fa-google-plus fa-fw"></i>
		                            </a>
		                            <a href="{% url 'facebook_login'  %}"  class="circle facebook" >
		                              <i class="fa fa-facebook fa-fw"></i>
		                            </a>
		                        </div> -->

		                    <div class="division">
		                        <div class="line l"></div>
		                            <span></span>
		                        <div class="line r"></div>
		                    </div>
		                   <!--  <h4 class="text-center">Use your email </h4> -->

		                    <div class="form loginBox">
		                        <form method="POST" action="{% url 'account_signup' %}">
		                          {% csrf_token %}

		                          {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-error">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
		                  
		                           {% for hidden in form.hidden_fields %}
		                              {{ hidden }}
		                            {% endfor %}
			                       
			                        <div class="form-group">
		                          
		                                {{ form.email |add_class:'form-control'}}
		                                <span class="help-block">{{ form.email.error }}</span>
		                             	
		                            </div>
		                            <div class="form-group">
		                                {{ form.password1 |add_class:'form-control'}} 
		                                <span class="help-block">{{ form.password1.error }}</span>

		                            </div>
		                            <div class="form-group">
		                                {{ form.password2 |add_class:'form-control'}} 
		                                <span class="help-block">{{ form.password2.error }}</span>
		                            </div>
		                            
		                            <span class="help-block"><b>** Le mot de ne doit pas contenir moins de 8 caractères **</b></span>
		                            
		                           {% if redirect_field_value %}
										<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
									{% endif %}
		                                <button class="btn btn-sm btn-primary btn-login" type="submit">{% trans "Je m'inscris" %}</button>
		                                <br>
		                                <p><input type="checkbox" name="agree" value="agree" required /> En validant mon inscription <a href="{% url 'legacy' %}">j'accepte les CGUs</a></p>
		                               

		                        </form>
		                    </div>

		                    <div class="forgot login-footer">
		                        <p>{% blocktrans %} Déjà sur TogoKuizine? <a href="{{ login_url }}"> Connectez-vous </a>.{% endblocktrans %}
		                  		</p>
		                    </div>
		                </div>
		            </div>
		                          
		        </div>           
		    </div>  
		</div> 
	</div>
</section>       
{% endblock %}
