{% extends "base_login.html" %}

{% load staticfiles %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load i18n %}

{% load account socialaccount %}
{% load socialaccount %}
{% providers_media_js %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section class="portfolio">
     <div class="container">                                 
        <div class="row ">

            <div class="col-md-offset-2 col-md-8 padding-20">

			    <h4>{% trans "Vérifier votre adresse e-mail" %}</h4>

			    <p>{% blocktrans %}
			    	Pour activer votre compte, nous vous prions de cliquer sur le lien que nous venons de vous envoyer par mail. 
			    </p>
			    
			    <p>Consultez votre dossier de spams pour vérifier que le message envoyé ne s'y trouve pas. 
				Si vous ne recevez toujours pas l'e-mail, veuillez nous <a href="">contacter</a>

			    {% endblocktrans %}</p>
			</div>  
        </div>  
    </div>
</section>   
{% endblock %}
