{% extends 'base.html' %}	
{% load staticfiles %}

{% load i18n %}
{% load thumbnail %}
{% load comments %}


{% block slide %}
	<section id="home" class="home">
    
      <!--<div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_home_slider">
                            <div class="single_home_slider">
                                <div class="main_home wow"> -->
                                    <!-- <h1>Cook' iT</h1> -->
                                    <img src="{% static 'assets/images/top-contributor.jpg' %}" width="100%">
                                    <!-- <p class="subtitle">Découvir, Cuisiner, Savourer</p>

                                    <div class="home_btn">
                                        <a href="" class="btn btn-primary">LEARN MORE</a>
                                    </div> -->
<!-- 
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>

{% endblock slide %}

{% block header %}

    <section class="rp-post-header margin-top-40">
        <h4 class="rp-post-title h4-responsive">{% trans 'Nos contributeurs' %}</h4> 
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. </p>
    </section>

{% endblock header %}

{% block content_base %}


<!-- Team -->
<section id="team" class="pb-5">
   
    <div class="container">
        <div class="row">
            <!-- Team member -->
            {% for user in users %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        {% if user.profile.photo %}
                                        <img class="img-fluid" src="{{user.profile.photo.url}}" width="" alt="contributor image">
                                        {% else %}
                                        <img src="{% static 'assets/images/user-logo.jpg' %}" class="img-fluid" width="" alt="contributor image">
                                        {% endif %}

                                    </p>
                                    <h5 class="cook-first-color">{% if user.last_name %}{{user.first_name}} {{user.last_name}} 
                                    {% else %} {{user.username}} {% endif %}</h5>
                                    <small></small>
                                    <p class="card-text">{{user.profile.bio|truncatewords:15}}</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h5 class="cook-first-color">{% if user.last_name %}{{user.first_name}} {{user.last_name}} 
                                    {% else %} {{user.username}} {% endif %}</h5>
                                    <p class="card-text">{{user.profile.bio}}</p>                                    
                                    <ul class="social-link list-inline">
                                        <li>
                                            {% if user.profile.facebook %}
                                            <a href="{{user.profile.facebook}}" class="btn-floating facebook"><i class="fa fa-facebook"></i></a>
                                            {% else %}
                                             <a href="#" class="btn-floating facebook"><i class="fa fa-facebook"></i></a>
                                            {% endif %}
                                        </li>
                                        <li>
                                            {% if user.profile.twitter %}

                                            <a href="{{user.profile.twitter}}" class="btn-floating twitter"><i class="fa fa-twitter"></i></a>
                                            {% else %}
                                            <a href="#" class="btn-floating twitter"><i class="fa fa-twitter"></i></a>
                                            {% endif %}
                                        </li>
                                        <li>
                                            {% if user.profile.gplus %}
                                            <a href="{{user.profile.gplus}}" class="btn-floating gplus"><i class="fa fa-google-plus"></i></a>
                                            {% else %}
                                             <a href="#" class="btn-floating gplus"><i class="fa fa-google-plus"></i></a>
                                            {% endif %}
                                        </li>
                                        <li>
                                            {% if user.profile.instagram %}

                                            <a href="{{user.profile.instagram}}" class="btn-floating insta"><i class="fa fa-instagram"></i></a>
                                            {% else %}
                                            <a href="#" class="btn-floating insta"><i class="fa fa-instagram"></i></a>
                                            {% endif %}

                                        </li>
                                        <li>
                                            {% if user.profile.linkedin %}
                                            <a href="{{user.profile.linkedin}}" class="btn-floating linkedin"><i class="fa fa-linkedin"></i></a>
                                            {% else %}
                                            <a href="#" class="btn-floating likedin"><i class="fa fa-linkedin"></i></a>
                                            {% endif %}
                                        </li>
                                     </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
        {% endfor %}


    </div>

    <div class="text-center">
    {% if users.has_other_pages %}
        <ul class="pagination">
            {% if users.has_previous %}
              <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in users.paginator.page_range %}
              {% if users.number == i %}
                <li class="active waves-effect"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if users.has_next %}
              <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
    </div>

    </div>

    
   
</section>
<!-- Team -->



<script type="text/javascript">
    // Instantiate the Bootstrap carousel
$('.multi-item-carousel').carousel({
  interval: false
});

// for every slide in carousel, copy the next slide's item in the slide.
// Do the same for the next, next item.
$('.multi-item-carousel .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  if (next.next().length>0) {
    next.next().children(':first-child').clone().appendTo($(this));
  } else {
    $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
  }
});
</script>
	
{% endblock content_base %}