{% extends 'base_principal.html' %}	
{% load staticfiles %}

{% load i18n %}
{% load thumbnail %}
{% load comments %}


{% block slide %}
	
	<section id="home" class="home">
    
      <!--   <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_home_slider">
                            <div class="single_home_slider">
                                <div class="main_home wow"> -->
                                    <!-- <h1>Cook' iT</h1> -->
                                    <img src="{% static 'assets/images/team.jpg' %}">
                                    <!-- <p class="subtitle">Découvir, Cuisiner, Savourer</p>

                                    <div class="home_btn">
                                        <a href="" class="btn btn-primary">LEARN MORE</a>
                                    </div> -->
<!-- 
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>

{% endblock slide %}

{% block header %}

    <section class="rp-post-header margin-top-40">
        <h4 class="rp-post-title h4-responsive">OURS CONTRIBUTORS</h4> 
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. </p>
    </section>

{% endblock header %}

{% block content %}


<div class="mixcontent">
	{% for user in users %}
    <div class="col-md-6  card-user padding">
        <div class="single_mixi_portfolio margin-bottom-20">
    	{% if user.profile.photo %}
	          	<img class="panel-profile-img" src="{{user.profile.photo.url}}" width="100%" alt="" class="img-responsive" >
    		{% else %}
    			<img src="{% static 'img/user-logo.jpg' %}" class="panel-profile-img" width="100%" alt="" class="img-responsive" >
			{% endif %}
        
            <div class="mixi_portfolio_overlay">
                <div class="overflow_hover_text">
                   <ul class="social-link list-inline text-center">
                        <li><a href="" class="btn-floating facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="" class="btn-floating twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="" class="btn-floating gplus"><i class="fa fa-google-plus"></i></a></li>
                   </ul>
                </div>
            </div>
        </div>
        <div class="description text-left">
            <h4 class="cook-first-color">{% if user.last_name %}{{user.first_name}} {{user.last_name}} 
		         		{% else %} {{user.username}} {% endif %}</h4>
            <small></small>

            <p class="margin-top-20">{{user.profile.bio}}
            
            </p>
        </div>
    </div>
  
   {% endfor %}
   
    <div class="text-center">
	{% if users.has_other_pages %}
		<ul class="pagination">
			{% if users.has_previous %}
		      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
		    {% else %}
			<li class="disabled"><span>&laquo;</span></li>
		    {% endif %}
		    {% for i in users.paginator.page_range %}
		      {% if users.number == i %}
		        <li class="active waves-effect"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
		      {% else %}
		        <li><a href="?page={{ i }}">{{ i }}</a></li>
		      {% endif %}
		    {% endfor %}
		    {% if users.has_next %}
		      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
		    {% else %}
		      <li class="disabled"><span>&raquo;</span></li>
		    {% endif %}
		</ul>
	{% endif %}
	</div>

	

</div>
	
	
{% endblock content %}