{% extends "recipe/recipe_box_user.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Modifier le mot de passe" %}{% endblock %}


{% block content_box_user %}
    <div class="row padding-20">
        <div class="col-lg-4 ">
             <ul class="list-block">
                <li>
                    <a href="{% url 'userprofile_update' %}" class="active"> Profil</a>
                </li>
                <li>
                    <a href="{% url 'account_change_password' %}"> Mot de passe</a>
                </li>
                
            </ul>
        </div>
        <div class="col-lg-7 content-left">    
    
            <h3 class="h3-responsive text-center">Modifier mon profil</h3>
            <hr>
    
            <form method="post"  class="form-block" action="." enctype="multipart/form-data">
              {% csrf_token %}
        <!--       {{ user_form.as_p }} -->
              
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Nom</label>
                            {{ user_form.last_name }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Prénoms</label>
                           {{ user_form.first_name }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Pays</label>
                            {{ profile_form.country }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Tél</label>
                           {{ profile_form.tel }}
                           <span class="helptext">{{profile_form.tel.help_text}}</span>

                        </div>

                    </div>
                </div>
            
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Facebook Url</label>
                            {{ profile_form.facebook }}
                            <span class="helptext">{{profile_form.facebook.help_text}}</span>

                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Twitter Url</label>
                           {{ profile_form.twitter }}
                           <span class="helptext">{{profile_form.twitter.help_text}}</span> 

                        </div>

                    </div>
                </div>
                 <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Linkedin Url</label>
                            {{ profile_form.linkedin }}
                            <span class="helptext">{{profile_form.linkedin.help_text}}</span>

                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Google + Url</label>
                           {{ profile_form.gplus }}
                           <span class="helptext">{{profile_form.gplus.help_text}}</span>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Instagram Link</label>
                            {{ profile_form.instagram }}
                            <span class="helptext">{{profile_form.instagram.help_text}}</span>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{% trans 'Photo' %}</label>
                             {{ profile_form.photo }}
                             {% if  user.profile.photo %}
                              {{ user.profile.photo.url }}
                           
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>A propos de vous</label>
                            {{ profile_form.bio }}
                        </div>
                    </div>
                    
                </div>


               <button class="btn btn-primary" type="submit">Enregister</button>
        </form>
    </div>
 </div>
{% endblock %}

