{% extends 'base_principal.html' %}
{% load staticfiles %}
{% load thumbnail %}
% load i18n %}

{% block slide %}
    <section id="home" class="home">

      <!--   <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_home_slider">
                            <div class="single_home_slider">
                                <div class="main_home wow"> -->
                                    <!-- <h1>Cook' iT</h1> -->
                                    <img src="{% static 'assets/images/food_1.jpg' %}">
                                    <!-- <p class="subtitle">Découvir, Cuisiner, Savourer</p>

                                    <div class="home_btn">
                                        <a href="" class="btn btn-primary">LEARN MORE</a>
                                    </div> -->
<!-- 
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
{% endblock slide %}

{% block content %}
 <!-- Post -->
 <div class="row">
 
    <div class="col-lg-offset-2 col-lg-8">
        <section class="paper">
            <h3 class="h3-responsive text-center">Account Settings</h3>
            <hr>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <form method="post"  class="form-block" action="." enctype="multipart/form-data">
                      {% csrf_token %}
                      {{ user_form.as_p }}
                      {{ profile_form.as_p }}
                      <button class="btn btn-primary" type="submit">Enregister</button>
                    </form>
                
                </div>
            </div>
        </section>
    </div>
 </div>
{% endblock content %}

