
<div class="container portfolio">
	<div class="row">
		<div class="col-md-12">
			<div class="heading">				
				<img src="https://image.ibb.co/cbCMvA/logo.png" />
			</div>
		</div>	
	</div>
	<div class="bio-info">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<div class="bio-image">
							<img src="https://image.ibb.co/f5Kehq/bio-image.jpg" alt="image" />
						</div>			
					</div>
				</div>	
			</div>
			<div class="col-md-6">
				<div class="bio-content">
					<h1>Hi there, I'm Kshiti</h1>
					<h6>I am a fresh web designer and I create custom web designs. I'm skilled at writing well-designed, testable and efficient code using current best practices in Web development. I'm a fast learner, hard worker and team player who is proficient in making creative and innovative web pages.</h6>
					<p>P.S I have no special talent, I'm just passionately curious ;)</p>
				</div>
			</div>
		</div>	
	</div>
</div>


<div class="row">
                    <div class="col-lg-offset-2 col-lg-8">
                        <h2 class="">{{user.first_name}} {{user.last_name}}</h2>
                        <ul class="list-inline">
                                
                        </ul>
                        <br>
                        <div class="row">
                            <div class="col-md-7">
                            {% if user.profile.photo %}
                                <img src="{{user.profile.photo.url}}" class="img-responsive">
                            {% endif %}
                            </div> 
                            {% if user.profile.bio %}
                            <div class="col-md-5">
                                <label>Description:</label>
                                <p>{{user.profile.bio}}</p>
                            </div> 
                            {% endif %}
                        </div>
                        <br>
                    

                    </div>
           
                </div>
                <!-- /#page-wrapper -->
            </div>




            
                      $("#modal-book").on("submit", ".js-origin-create-form", function () {
                        var form = $(this);
                        $.ajax({
                          url: form.attr("action"),
                          data: form.serialize(),
                          type: form.attr("method"),
                          dataType: 'json',
                          success: function (data) {
                            if (data.form_is_valid) {
                              alert("Origin created!");  // <-- This is just a placeholder for now for testing
                            }
                            else {
                              $("#modal-book .modal-content").html(data.html_form);
                            }
                          }
                        });
                        return false;
                      });