{% load static %}
{% load i18n %}
{% load flatpages %}
<footer>    
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3> Gastro Togolaise</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        
                        </p>
                        <div class="link-section">
                        	<ul class="list-inline">
                               <li><a class=""><i class="fa fa-facebook"> </i></a></li> 
                               <li><a class=""><i class="fa fa-twitter"> </i></a></li>
                               <li><a class=""><i class="fa fa-google-plus"> </i></a></li>
                               <li><a class=""><i class="fa fa-instagram"> </i></a></li>
                               <li><a class=""><i class="fa fa-pinterest"> </i></a></li>
                               <li><a class=""><i class="fa fa-youtube"> </i></a></li>
                            </ul> 
                        </div>

                    </div>
                    <div class="col-md-4">
                        <h3> {% trans 'About us' %}</h3>
                        {% get_flatpages as flatpages %}
						<ul>
						  {% for page in flatpages %}
						    <li><a href="/pages{{ page.url }}">{{ page.title }}</a></li>
						  {% endfor %}
						</ul>
                    </div>
                    <div class="col-md-4">
                        <h3>{% trans 'Contact' %}</h3>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>© Designed by <a href="">A.S</a>. All Rights Reserved. 
                
				
				</p>
            </div>
        </div>
            
</footer>


