@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

footer{
	/*background: #000;*/
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	margin-top: 8em;
  	font-weight: 300;
  	height: auto;
  	background-image: url("../img/bottom-footer.jpg");
}
footer.page-footer {
  

}

footer .link-section {
  padding-bottom: 20px;
}
footer .link-section .list-inline >li{
 /* border: 1px solid;*/
 background: #333;
  padding: 10px;
  margin-right: 10px;
}

footer .link-section .list-inline >li > a{
 /* border: 1px solid;*/
 color: #fff;
}

footer .footer-content {
  padding: 2em;
  /*background-color: #333;*/
  color: rgba(255, 255, 255, 0.8);
}

footer .footer-copyright {
  overflow: hidden;
  height: 50px;
  border-top: 1px solid #1f1c1c;
  line-height: 38px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
  /*background-color: #000;*/

}

footer .column-title {
  text-transform: uppercase;
  margin-top: 15px;
}

footer.page-footer a {
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  color: #fff;
}

footer.page-footer .social-section {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

/*Commun*/
.mainmenu-area{
	background: #fff;
}

#wrap {

  display: inline-block;
  float: right;
  padding: 0;
  position: relative;
}

.rp-color-first{
  color: #cc2d63;
}

.rp-bg-color-first{
  background-color: #cc2d63;
}
.rp-arrow{
    position: absolute;
    top: 30px;
    left: -8px;
    height: 0;
    width: 0;
    border-bottom: 8px solid transparent;
    border-right: 8px solid white;
    border-top: 8px solid transparent;
  }
.rp-search input[type="text"] {
  height: 40px;
  font-size: 24px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  outline: none;
  border:none;
  color: #555;
  padding: 5px;
  padding-right: 30px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

.rp-search input[type="text"]:focus:hover {
  /*border-bottom: 1px solid #BBB;*/

}

.rp-search input[type="text"]:focus {
  width: 750px;
  z-index: 1;
  cursor: text;
  border: 1px solid #;
  border-radius: 10px;
  background: #f8f8f8;

}
/*input[type="submit"] {
  height: 67px;
  width: 63px;
  display: inline-block;
  color:red;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}
*/
.rp-search input[type="submit"]:hover {
  opacity: 0.8;
}
.rp-search-toggle {
    padding: 15px 15px;
    border: none;
    color: #385a0c;
    line-height: 30px;
    cursor: pointer;
    background: transparent;
   
    /*background-color: #385a0c;*/
}


.rp-search-toggle .fa {
    position: relative;
    /*left: 9px;*/
    font-size: 13px;
    
}

.menu-padding {
    padding-top:40px;
}
.content {
    margin-top:120px;
    position: relative;
}
.sticky {
    position:fixed;
    top:0;
}
.rp-post-breadcrumbs .breadcrumb{
	background: transparent;
	font-size: 12px;
}

.rp-post-social-button a{
	margin-right: 15px;
	color: #222;
	font-size: 12px;
}

.rp-post-social-button a:hover{
	color: #222;
	font-size: 14px;
}
/*.rp-pagination .pagination >li>a{
	margin-right: 5px;
}*/

.rp-related-pagination {
	border-radius: 1px !important;
}
.rp-related-pagination > a,
.rp-related-pagination > span {
  position: relative;
  float: left;
  padding: 4px 8px;
  margin-left: 10px;
  line-height: 1.42857143;
  color: #333;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 1px;
  font-size: 11px;
}
.rp-related-pagination > a:hover,
.rp-related-pagination span:hover,
.rp-related-pagination > a:focus,
.rp-related-pagination > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}


.comment-pagination .pagination{
	border-radius: 1px !important;
}
.comment-pagination .pagination > li > a,
.comment-pagination .pagination > li > span {
  position: relative;
  float: left;
  padding: 4px 8px;
  margin-left: 10px;
  line-height: 1.42857143;
  color: #333;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 1px;
  font-size: 11px;
}
.comment-pagination .pagination > li:first-child > a,
.comment-pagination .pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}
.comment-pagination .pagination > li:last-child > a,
.comment-pagination .pagination > li:last-child > span {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
.comment-pagination .pagination > li > a:hover,
.comment-pagination .pagination > li > span:hover,
.comment-pagination .pagination > li > a:focus,
.comment-pagination .pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.comment-pagination .pagination > .active > a,
.comment-pagination .pagination > .active > span,
.comment-pagination .pagination > .active > a:hover,
.comment-pagination .pagination > .active > span:hover,
.comment-pagination .pagination > .active > a:focus,
.comment-pagination .pagination > .active > span:focus {
  z-index: 3;
  color: #ddd;
  cursor: default;
  background-color: #fff;
  border-color: #ddd;
}
.comment-pagination .pagination > .disabled > span,
.comment-pagination .pagination > .disabled > span:hover,
.comment-pagination .pagination > .disabled > span:focus,
.comment-pagination .pagination > .disabled > a,
.comment-pagination .pagination > .disabled > a:hover,
.comment-pagination .pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.border{
	border: 1px solid #ededed;
	padding: 11px 16px;
}

/*RECIPE */
.rp-card-post{
	position: relative;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	transition: box-shadow .25s;
	margin-bottom: 10px;

}
.rp-card-post .card-up{
	
	position: relative;

}
.rgba-black-light {
    background-color: #D81C1F;
}

img .card-img{
	width: 360px;
	height: 200px;
}


.card-title h5{ 
 
 color: #111;
 font-weight:700;
 margin-bottom: 0px;

 
}

.card-title h5 a{
	color: #111;
	
}
.card-title h5 a:hover{
	color: #b9456d;
	/*text-shadow: 0 1px 0 #e4dbdb;*/
}

.card-title p{
	color: rgb(172, 172, 172);
   /* margin-bottom: 15px;*/
}

/*.rp-card-post .card-label {
	top: 10;
    position: absolute;
    color: #fff;
    background-color: rgba(0,0,0,.3);
    width: 100%;
	
}*/
/*.rp-card-post .card-label h5{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
   
	
}*/
.rp-card-post .card-content{
	padding: 15px;
	height: 90px;
	
}
.rp-card-post .card-footer{
	
	border-top: 1px solid #ddd;
	padding: 10px;
	font-size: 11px;
	text-align: right;
	height: 40px;
}
.rp-card-post .card-footer a{
	color: #ccc;
	font-size: 12px;

}
.rp-card-post .card-footer a:hover{
	color: #b9456d;
}

.rp-card-post .card-footer .list-inline a{
	color: rgba(19, 84, 15, 0.9);

}


/*RECIPE DETAIL*/
.rp-post-detail{
	margin-right: 15px;
}

.rp-post-header{
	text-align: center;
	margin-bottom: 35px;
}

.rp-post-cat .list-inline li> a{
	background-color: #35a533;
	color: #fff;
    font-family: 'Open Sans',arial,sans-serif;
    padding: 3px 6px 4px 6px;
    white-space: nowrap;
    font-size: 12px;
}

.rp-post-title{
	color: #111;
	/*padding: 10px 8%;*/
    letter-spacing: .02em;
    font-weight: 700;
}

.rp-post-title a{
	color: #111;
	font-weight: 700;
}

.rp-post-title a:hover{
	color: #cc2d63;
}

.rp-post-meta-info{

}

.rp-post-meta-info .rp-author{
	color: #b9456d;
}

.rp-post-meta-info a:hover{
	color: inherit;
}

.rp-post-share {
	margin-top: 5px;
}

.rp-post-share .btn{
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 1px 1px 0 rgba(0,0,0,.1);
}
.rp-post-share a{
	color: #fff;
	font-size: 11px;
	padding-top:10px;
	padding-bottom: 10px;
	margin-right: 15px;
}

.rp-post-share a:hover{
	color: #fff;
	opacity: 1;
	transition: all 0.4s ease-in-out;
}
.rp-post-share .fa{
	text-transform: uppercase;
	font-size: 13px;
}

.rp-post-image{

    margin-bottom: 26px; 
}
.rp-post-time{
    border: 1px solid #ededed;
    padding: 11px 16px;
    margin-bottom: 26px; 
}

.rp-post-time strong{
	font-weight: 700;
	font-size: 14px;
	color: #111;
}

.rp-post-description{
	margin-bottom: 26px;
}

.rp-post-instruction{
	margin-bottom: 30px;


}
.rp-post-instruction h5{
	font-family: 'Tangerine', serif;
  	font-size: 48px;
  	color: #111;
}

.rp-post-instruction .rp-bloc-note{
    background: #f6f6f6;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    margin: 0px 0 20px 0px;
    position: relative;
    width: 100%;
    background-image: -webkit-radial-gradient(#e6e6e6 21%, transparent 21%),-webkit-radial-gradient(rgba(0,0,0,0.25) 21%, transparent 26%),-webkit-linear-gradient(top, transparent 0%, transparent 95%, rgba(96,159,159,0.1) 95%, rgba(96,159,159,0.1) 100%);
    background-image: -moz-radial-gradient(#e6e6e6 21%, transparent 21%),-moz-radial-gradient(#e6e6e6 10%, transparent 12%),-moz-linear-gradient(top, transparent 0%, transparent 95%, rgba(96,159,159,0.1) 95%, rgba(96,159,159,0.1) 100%);
    background-image: radial-gradient(#e6e6e6 61%,rgba(0,0,0,0) 21%),radial-gradient(#e6e6e6 10%,rgba(0,0,0,0) 12%),linear-gradient(top, transparent 0%, transparent 95%, rgba(96,159,159,0.1) 95%, rgba(96,159,159,0.1) 100%);
    background-position: 0px 6px, 0px 5px, 10% 8px;
    background-repeat: repeat-y, repeat-y, repeat;
    background-size: 48px 48px, 48px 48px, 24px 24px;
    padding: 17px 24px 4px 64px;
    top: 0px;
}
.rp-post-instruction.rp-post-step ol>li:before{
    position: absolute;
    top: 3px;
    left: -34px;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 32px;
    color: #999;
    font-weight: 700;
    font-size: 16px;
    background-color: #f4f4f4;
    content: counter(li-counter);
    counter-increment: li-counter;
    cursor: default;
}
.rp-comment{
  background: #f8f8f8;
  padding: 15px;
}
.rp-post-related{
	margin-top: 25px;
}
.rp-post-related h6{
	margin-top: 15px;
	color: #222;
}
.rp-post-related .nav-tabs{
	background: transparent;
	border: transparent;
	
}

.rp-post-related .nav-tabs >li > a {
	color: #222;
}
.rp-post-related .nav-tabs > li.active > a,
.rp-post-related .nav-tabs > li.active > a:hover,
.rp-post-related .nav-tabs > li.active > a:focus{

  color: #f7f7f7;
  cursor: default;
  background-color: #35a533;

}

.rp-post-related .tab-content{
	padding-top: 20px;
	
}
.rp-post-related h6{
	margin-top: 10px;
}
/*Blog*/
.rp-post-btn:hover{
	display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #cc2d63;
  border: 1px solid transparent;
  border-radius: 10em;
  color: #fff;

}


.rp-form{
  background: linear-gradient(45deg, rgb(218, 56, 111) 0%, rgb(150, 54, 107) 20%, rgba(195, 178, 185, 0.8) 60%, rgb(216, 53, 108) 100%);
  margin-top:150px;
  min-height: 350px;
  padding: 50px;
  color: #fff;
}

.rp-form .form-container{
    position: absolute;
    padding: 60px;
    top: -80px;
    right: 20px;
    left: 20px;
    min-height: 400px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center;
}

.rp-form .login-form h4{
  color: #333;
}