body{
	
	width:100%;
	background: rgba(239, 232, 232, 0.11);
	height: 100%;
	font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    font-weight: 300;
    font-size: 0.9em;
	
  
}
article{
	margin-bottom:20px;
}

.form-block{
	background-color: rgba(0, 0, 0, 0.05);
}


.social-link {
	float: right;
	line-height: 3;
	
}
.social-link a{
	color: #fff;

}
.social-link a:hover{
	color: #295628;

}
.divider {
  width: 100%;
  border: 1px solid;
  height: 1px;
}
/*Slide */
.slider{
	position: relative;
	height: 363px !important;
	border: 4px solid #fff;
	/*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
	width: 100%;
	background: #080808;
	color: #f5f5f5;
	margin-bottom: 40px;

}

.slider-content{
	width: 100%;
    height: 100%;
    position: relative;
    overflow:hidden;
}
.slider-content-right{
    height: 350px;
    background-color: #2f1b1b;
}

.top-image{
	position: relative;
	border: 4px solid #fff;
	width: 100%;
	background: #333;
	color: #f5f5f5;
	margin-bottom: 40px;
	overflow: hidden;

}
.top-image .top-title{
	position: absolute;
	color: #1b4215;
	top: 0;
	padding-left: 15px;
	padding-top: 15px;

}

.top-title h1{
	font-weight: bold;
	
}

/*Post*/
.post-detail{
	padding: 15px 30px 25px 30px;
}
.post-detail h1{
	font-family: "Lucida Grande", Tahoma;
    font-size: 14px;
    font-weight: lighter;
    font-variant: normal;
    text-transform: uppercase;
  	display: flex;
  	text-align:center;
}
.post-detail h1:before, .post-detail h1:after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #dd3333!important;
    margin: auto 0.5em;
}
.post-detail h2{
	font-family: 'Aller', serif;
  	font-size: 34px;
  	font-weight:bold;
  	position: relative;
 
}

.post-detail h2:before{	
    content: '';
    height: 1px;
    width: 90px;
    background: #dd3333;
    position: absolute;
    /*left: 15;*/
    vertical-align: middle;
    bottom: -14px;
    

}
.post-detail .post-author{    
	line-height: 36px;
    color: #878787;
    text-align: center;
}
.post-detail h5{
	font-family: 'Tangerine', serif;
  	font-size: 44px;
  	/*text-align: center;*/
}

.sidebar-social-link ul > li {
	list-style: none;
}
/*Cards*/

.card {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card .card-image {
  position: relative;
  overflow: hidden;
}



.card .card-image img {
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;

}
/*.card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
}

.card .card-content h5 {
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
  font-family: 'Satisfy','Georgia', cursive;
  font-size: 24px;
}

.card .card-content p {
  margin: 0;
  color: inherit;
}*/


.card-post{
	position: relative;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
	transition: box-shadow .25s;

}
.card-post .card-up{
	/*max-height: 250px;*/
	position: relative;

}
.card-post .card-label {
	top: 10;
    /*z-index: 10;*/
    position: absolute;
    color: #fff;
    background-color: rgba(0,0,0,.3);
    width: 100%;
	
}
.card-post .card-label h5{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
   
	
}


.rgba-black-light {
    background-color: #D81C1F;
}

img .card-img{
	width: 360px;
	height: 200px;
}
.card-post .card-content{
	padding: 15px;
	height: 90px;
	
}

.card-title h5{ 
 
 color: #44494b;
 font-weight:700;
 
}

.card-title h5 a{
	/*color: #222;
	text-shadow: 0 2px 0 #e4dbdb;*/
}
.card-title h5 a:hover{
	color: #dd3333;
	text-shadow: 0 1px 0 #e4dbdb;
}

.card-title p{
	color: rgb(172, 172, 172);
   /* margin-bottom: 15px;*/
}


.card-post .card-footer{
	/*background-image: url(images/double-line.png) repeat-x scroll top center #fafafa;*/
	/*background-color: #eee;*/
	border-top: 1px solid #ddd;
	padding: 10px;
	font-size: 11px;
	text-align: right;
	height: 40px;
}
.card-post .card-footer a{
	color: #ccc;
	font-size: 12px;

}
.card-post .card-footer a:hover{
	color: #dd3333;
}

/*sidebar*/
.sidebar-left{
	background: #fff;
	height: auto;
}
.widget-left{

	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	background: rgba(0, 0, 0, 0.03);

	/*margin-bottom: 5px;*/

}

.widget-left h4{
	font-size: 18px;
    font-weight: normal;
    margin: 8px 0 20px;
    color: rgba(0,0,0,0.9);
    text-transform: uppercase;
    
  }
.widget-left h4:before{
	content: '';
    height: 1px;
    width: 40px;
    background: #dd3333!important;
    position: absolute;
    left: 0;
    margin-top: 25px;
    margin-left: 18px;
    

}

.widget-left .media-heading a:hover{
		color: #dd3333;
}
.widget-left .media-body .icon{
	font-size: 12px;	
	color: #ccc;
}
.widget-left date{
	font-family: "Lucida Grande", Tahoma;
    font-size: 12px;
    font-weight: lighter;
    font-variant: normal;
    text-transform: uppercase;
    margin-left: 5px;
}
/*.widget-left p{
	font-size: 1.1rem;
	text-align: justify;
}*/

footer{
	/*background: #000;*/
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	margin-top: 8em;
  	font-weight: 300;
}
footer.page-footer {
  

}

footer .link-section {
  padding-bottom: 20px;
}

footer .footer-content {
  padding: 2em;
  background-color: #333;
  color: rgba(255, 255, 255, 0.8);
}

footer .footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: #000;

}

footer .column-title {
  text-transform: uppercase;
  margin-top: 15px;
}

footer.page-footer a {
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  color: #fff;
}

footer.page-footer .social-section {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}


/*carousel*/

#wrapper {
				/*background: #666;
				box-shadow: 0 0 10px #000;*/
				width: 100%;
				height: 398px;
				/*padding: 30px;*/
				/*margin: -205px 0 0 -380px;
				position: absolute;*/
				top: 50%;
				left: 50%;
				overflow: hidden;
			}
			#carousel {
				/*width: 860px;*/
				height: 398px;
				overflow: hidden;
			}
			#carousel img {
				display: block;
			}
			#pager {
				width: 250px;
				position: absolute;
				top: 0px;
				right: 0px;
			}
			#pager img{
				float: right;
				width: 70px;
				height: 50px;
			}
			#pager a {
				
				font-family: 'Droid Serif', sans-serif;
				font-size: 14px;	
				color: #f5f5f5;
				font-weight: 500;
				background: #080808;
				display: block;
				height: 70px;
				padding: 10px;
				margin-bottom: 1px;
				border-top: 1px solid #555555;
			}
			#pager a:hover {
				color:#d4e2e4;
				text-decoration: none;
			}
			#pager a.selected {
				background: #111;
				color:#d4e2e4;
				/*font-weight: 600;*/
				text-decoration: none;
			}

/*@media only screen and (min-width: 1200px) {
#aside {
	
	
	position: absolute;
	background: #fff;
	width: 25%;
    height: 100^; 
   	border-right: 1px solid #fff;
	box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.12), 0 0px 10px 0 rgba(0, 0, 0, 0.12);
	transition: box-shadow .25s;


}
}
*/



/*Blog*/

.blog{
	background-color: #fff;
	padding:20px 15px 15px 20px;
}

.blog .post-title{
	margin-top: 10px;

}
.blog .post-header{
	font-size: 0.85rem;
	font-style: italic;

}

.blog .post-description{
	padding-right: 20px;
	padding-bottom: 15px;
}

