{% load i18n %}
<li data-nf-id="{{ notification.id }}" id="nf-{{ notification.id }}" class="notification list-group-item {{ notification.read|yesno:'read,unread' }}">
{% block notification %}
    {% if notification.target %}
        {% blocktrans with actor_url=notification.actor_url actor=notification.actor verb=notification.verb target=notification.target target_url=notification.target_url%}

        <p>
            
            <strong>{{ actor }}</strong> a publié une nouvelle recette <a href="{{ target_url }}" style="color:#000;">{{ target }}</a><br>
            
        {% endblocktrans %}

            <i class="fa fa-clock-o"></i> {% blocktrans with created=notification.created|timesince %}{{created}} ago{% endblocktrans %}
        </p>
<!--             <a href="" class="cook-second-color"> {{ verb }}</a>
 -->
    {% else %}
        {% blocktrans with actor_url=notification.actor_url actor=notification.actor verb=notification.verb%}
        <p>
            
                <strong>{{ actor }}</strong>
            
        {% endblocktrans %}

            <i class="fa fa-clock-o"></i> {% blocktrans with created=notification.created|timesince %}{{created}} ago{% endblocktrans %}<br>
            <a href="" class="cook-second-color"> {{ verb }}</a>
        </p>

    {% endif %}
   
{% endblock notification %}
 
</li>  




