{% load i18n %}
<li data-nf-id="{{ notification.id }}" id="nf-{{ notification.id }}" class="notification list-group-item {{ notification.read|yesno:'read,unread' }}">
{% block notification %}
    {% if notification.target %}

       {% blocktrans with actor_url=notification.actor_url actor=notification.actor verb=notification.verb target=notification.target target_url=notification.target_url%}
       <p class="no-justify">
            <strong>{{ actor }}</strong> a publié une nouvelle recette <a href="{{ target_url }}" style="color:#FFC107;">{{ target }}</a>
        {% endblocktrans %} <br>

            <i class="fa fa-clock-o"></i> Il y'a {% blocktrans with created=notification.created|timesince %}{{created}}{% endblocktrans %}
        
        </p>

    {% endif %}
   
{% endblock notification %}
 
</li>





