<!-- this format is not compulsory, you can have HTML that suits your project -->
<li data-nf-id="{{ notification.id }}"
class="notification list-group-item {{ notification.read|yesno:'read,unread' }}">
    <a href="{{ notification.actor_url }}">{{ notification.actor }}</a> {{ notification.verb }}
    <a href="{{ notification.target_url }}" style="color:#FFC107;">{{ notification.target }}</a> Il y' a <span class="timesince"> {{ notification.created|timesince }} </span>

   
    {% if notification.read == 0 %}
    	<a data-id="{{ notification.id }}" class="mark-notification"
        data-mark-action="read" title="Marquer comme lu"><span class=""><i class="fa fa-check" aria-hidden="true"></i></span></a>
    {% else %}
    	<a data-id="{{ notification.id }}" class="mark-notification"
        data-mark-action="unread" title="Marquer comme non lu"><span class=""><i class="fa fa-check-circle" aria-hidden="true"></i>
                <i class="fa fa-check-circle" aria-hidden="true"></i>

        </span></a>
    {% endif %}
    <!-- <button class="delete-notification" data-id="{{ notification.id }}">X</button> -->
</li>