  {% extends 'base_principal.html' %}

  {% load staticfiles %}
  {% load i18n %}
  {% load thumbnail %}
  {% load comments %}
  {% load ratings %}

  {% block slide %}

      <section id="home" class="home">

        <!--   <div class="overlay">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-12 ">
                          <div class="main_home_slider">
                              <div class="single_home_slider">
                                  <div class="main_home wow"> -->
                                      <!-- <h1>Cook' iT</h1> -->
                                    <img src="{% static 'assets/images/top-image.jpg' %}">
                                      <!-- <p class="subtitle">Découvir, Cuisiner, Savourer</p>

                                      <div class="home_btn">
                                          <a href="" class="btn btn-primary">LEARN MORE</a>
                                      </div> -->
  <!-- 
                                  </div>
                              </div>
                              
                              
                          </div>
                      </div>
                  </div>
              </div>
          </div> -->
      </section>
  {% endblock slide %}

  {% block header %}

      
  {% endblock header %}


  {% block content %}


  <div class="main_mix_content">

  <hr>
    {{total_results}} results for: {{word}}  
  <hr>

   
                      
      {% include 'recipe/recipe_partial.html' %}



    {% for video in videos %}

        {% include 'recipe/video_partial.html' %}

    {% endfor %}

    {% for post in posts %}

        {% include 'blog/post_partial.html' %}

    {% endfor %}
    
</div>

  {% endblock content %}