{% extends 'base_admin.html' %}	
{% load staticfiles %}
{% load widget_tweaks %}
{% load thumbnail %}
{% load i18n %}
{% load humanize %} 

{% block content %}

<div class="container-fluid  dashboard-content">
    <!-- ============================================================== -->
    <!-- pageheader  -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="mb-2">Catégories Blog </h3>
                
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Catégories</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- content  -->

    <div class="row">

        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h4 class="card-header">{% trans 'Ajouter une catégorie' %}</h4>
                <div class="card-body">
                    <form method="POST"  name="form" action=""  class="" enctype="multipart/form-data">
                        {% csrf_token %}
                          {{ form.as_p }}
                        
                        <button type="submit" class="save btn btn-success">{% trans 'Enregistrer' %}</button>
                    </form>
                </div>
            </div>
        </div>

       <!-- responsive table -->
        <!-- ============================================================== -->
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Liste des catégories</h5>
                <div class="card-body">
                    <div class="table-responsive table-striped">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> {% trans 'Nom' %}</th>
                                    <th>{% trans 'Slug' %}</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                 {% for list in categBlog %}
                            <tr>
                                <td>{{ list.name }}</td>
                                <td>{{ list.slug }}</td>
                                <td>

                                    <div class="btn-group ml-auto">
                                        <button class="btn btn-sm btn-outline-light">
                                           <a href="{% url 'post_category_update' slug=list.slug%}">
                                                <i class="far fa-edit"></i>
                                            </a>
                                        </button>
                                        <button class="btn btn-sm btn-outline-light">
                                           <a data-toggle="modal" data-target="#deletecategory{{list.id}}">
                                                <i class="fa fa-trash-o" aria-hidden="true"> <i class="far fa-trash-alt"></i>
                                            </a>
                                        </button>
                                    </div>
                                    
                                </td>
                            </tr>

                            <!-- Modal -->
                            <div class="modal fade" id="deletecategory{{list.id}}" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirmer votre action</h5>
                                            <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </a>
                                        </div>
                                        <div class="modal-body">
                                            <p class="lead">{% trans 'Etes-vous sûrs de vouloir supprimer cette catégorie' %}<strong>{{ list.title}}</strong>?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="btn btn-secondary" data-dismiss="modal">Fermer</a>
                                            <a href="{% url 'post_category_delete' slug=list.slug %}" class="btn btn-primary">Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                          

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end responsive table -->
        <!-- ============================================================== -->
        </div>

    </div>

        

        
{% endblock %}