{% extends 'blog/post_publish_list.html' %}	
{% load staticfiles %}
{% load widget_tweaks %}
{% load thumbnail %}
{% load i18n %}
{% load humanize %} 

{% block content_blog %}

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-offset-2 col-lg-8">
	                <form method="POST"  name="form" action="."  class="" enctype="multipart/form-data">
		                {% csrf_token %}
                         {{ form.media }}
		                  {{ form.as_p }}
                        
	                	<button type="submit" class="save btn btn-default">{% trans 'Envoyer' %}</button>
	                </form>
                </div>
                
            </div>
        </div>
        <!-- /.row -->


        
{% endblock %}