
   
    {% block content %}
    <section class="post card"> 
        
        <div class="row text-center">
            <div class="col-md-12">
                
                <div class="post-header">
                    <h2 class="post-title"><a href="">{{ video.title }}</a></h2>

                        <p class="text-center">Post by <a href="">{{video.author}}</a></p>
                        
                    <ul class="list-inline">
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>
                        {{ video.published_at|date:'F j, Y' }}</li>
                        
                        <!-- <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></span> {{video.view}}</a></li>   -->  
                        <li><a><i class="fa fa-heart" aria-hidden="true"></i></a>{{video.like}}</li>
                        <li><a href="#comments"><i class="fa fa-comments" aria-hidden="true"></i></a>0 </li>
                    </ul>
                </div>
                <!-- <div class="post-image">
                    {% video video.video as video %}
                    {% video video '640 x 480'  %}
                    {% endvideo %}
                </div> -->
                
                <hr>
                <div class="post-link">

                   
                        
                        <h3><i class="fa fa-share-alt reveal-button" aria-hidden="true"></i><a href="#"> Share this</a></h3>
                    </ul>
                </div>
                
                
            </div>
        </div>

        <div class="row" id="comments">
            <h3 class="text-center" data-toggle="collapse" href="#collapse1"><label class="btn btn-danger">{{comment_count}}</label> Comments</h3>
            <br>
             <div id="collapse1" class="panel-collapse collapse">
             {% get_comment_list for video as comment_list %}
                {% for comment in comment_list %}
                        <div class="media">
                            <a class="pull-left" href="#"> 
                                <img src="{% static 'img/user.png' %}" class="img-circle" width="50px;" alt="">
                                
                            </a> 
                        
                        <div class="media-body">
                            <h6 class="media-heading"><a href="">{% if comment.user  %} {{comment.user}} {% else %}  {{comment.user_name}} {% endif %}</a>  .  <a href="#">{{comment.submit_date}}</a></h6>
                            <hr> 
                            <p>{{comment.comment}}</p>
                        </div>
                    </div>
                    <hr>
                {% endfor %}

                <div class="form-block col-xs-12">
                    <div class="text-center">
                        <h4>LEAVE A COMMENT HERE</h4>
                        <p class="text-center">Your email address will not be published.</p>
                    </div>
                    <br>
                {% if user.is_authenticated %}
                {% get_comment_form for video as form %}
                    <form action="{% comment_form_target %}" method="POST">
                    {% csrf_token %}
                    {{ form.comment|add_class:'form-control' }}
                    
                    <!-- {{ form.honeypot }} -->
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}
                    <br>
                    <input type="hidden" name="next" value="{% url 'video_detail' video.pk %}" />
                    
                    <button class="btn btn-danger" type="submit" id="id_submit"value="Post">Submit</button>
                    </form>
                {% else %}

                    <p class="text-center">Please <a href="{% url 'account_login' %}">log in</a> to leave a comment if you are a member. If not just fill this fields</p>
                    {% get_comment_form for video as form %}
                        <form action="{% comment_form_target %}" method="post">
                        {% csrf_token %}
                        {{ form.content_type }}
                        {{ form.object_pk }}
                        {{ form.timestamp }}
                        {{ form.security_hash }}
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-4">
                                <label>Name <span class="label-description">(ex: William) <sup>*</sup></span></label></span> {{form.name}}  
                            </div>
                            <div class="form-group col-xs-12 col-sm-4">
                                <label>Email <span class="label-description">(Not published) <sup>*</sup></span></label></span> {{form.email}}  
                            </div>
                            <div class="form-group col-xs-12 col-sm-4">
                                <label>Website <span class="label-description">(Optional)</span> </label> {{form.url}}  
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-xs-12">
                            <label>Comment <sup>*</sup></label></span><br> {{ form.comment }}
                            </div>
                        </div>
                        
                        <button class="btn btn-danger" type="submit">Submit</button>
                       
                      
                    </form> 
                {% endif %}
                    
             </div>  

    </section>
    
    {% endblock content %}