{% extends 'base.html' %}	
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load comments %}

{% block slider %}
<div class="container">
	<div class="slider">
		
			<div id="carousel" class="carousel-fade">
			<!-- {% for recipe in recipes %}

				{% thumbnail recipe.image  "880x355" crop="center" as img %}
                    <img src="{{img.url}}" class="img-responsive"/>
                {% endthumbnail %}
				
			{% endfor %} -->
			</div>
			
	
	</div>
</div>
<br>
{% endblock slider %}

{% block content %}
 <!-- Post -->

            <div class="row">
                 
                {% for recipe in recipes %}

            <article class="col-sm-6">
                <div class="rp-card-post">
                    <!-- Image wrapper -->
                    <div class="view overlay hm-white-light card-up">
                    	<!-- <div class="card-label">
                        <h5 class=""> <span class="label"></span></h5>
                        </div> -->
                        
                    {% if recipe.image %}
                    	<a>
                    	{% thumbnail recipe.image  "900x500" crop="center" as im %}
                    		<img src="{{im.url}}" class="img-responsive">
                    		<div class="mask flex-center">
                    			<a class="btn btn-default" href="{% url 'recipe_detail' pk=recipe.pk %}">View</a>
    						</div>
                    	{% endthumbnail %}	
                    	</a>
                    {% else %}
						<a href=""></a>
					{% endif %}
            						
                    </div>
                    
                    <div class="card-content">
                        
                        <div class="card-title">
                        	<h5 class="h5-responsive"><a href="{% url 'recipe_detail' pk=recipe.pk %}">{{recipe.title|truncatechars:30}}</a></h5>
                        	<p >By <a data-toggle="modal" data-target="#modalAvatar{{recipe.author.id}}">{{recipe.author}}</a></p>
                        </div>
                    </div>
                    <!-- Footer -->
                    <div class="card-footer">
                        <ul class="list-inline">
                            
                            <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a> {{recipe.view}}</li>

                            {% get_comment_count for recipe as comment_count %}
                            <li><a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a> {{comment_count}} </li>
                            
                            <li>
                            <a class="like" data-recipe-pk="{{recipe.pk}}" type="button"><i class="fa fa-heart" aria-hidden="true"></i></a><span id="count-like-{{recipe.pk}}"> {{recipe.like}}</span>
                            </li>
                             
                        </ul>
                    </div>
                </div>
            </article>

            <!-- Modal -->
           <div class="modal fade" id="modalAvatar{{recipe.author.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{recipe.id}}">
              	<div class="modal-dialog" role="document">
                	<div class="modal-content">
	                  	<div class="modal-header">
	                    	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                    	<div class="col-md-4">
	                    	
	                    	{% if recipe.author.profile.photo %}
			                    <span class="author-inner">
			                    <img src="{{recipe.author.profile.photo.url}}" class="img-responsive img-circle">
			                    </span>
			                    
			                {% else %}
			                
	                    	<img src="{% static 'img/user-logo.jpg' %}" class="img-responsive" data-pin-nopin="true">
	                    	
	                    	{% endif %}
	                    	<h5 class="">{{recipe.author.first_name}} {{recipe.author.last_name}}</h5>
	                    	</div>
	                    	<div class="col-md-8">
                   				<p>{{recipe.author.profile.bio}}</p>
	                    	</div>
	                    </div>
                 		<!-- <div class="modal-body">
                    	</div> -->
                  		<div class="modal-footer">
                    		<a class="btn-floating btn-sm-full fb-bg"><i class="fa fa-facebook"> </i></a>
                            <a class="btn-floating btn-sm-full tw-bg"><i class="fa fa-twitter"> </i></a>
                            <a class="btn-floating btn-sm-full in-bg"><i class="fa fa-instagram"> </i></a>
                            <a class="btn-floating btn-sm-full gplus-bg"><i class="fa fa-google-plus"> </i></a>
                            <a class="btn-floating btn-sm-full li-bg"><i class="fa fa-linkedin"> </i></a>
                            
                            
                   		</div>
                	</div>
                </div>
            </div>
            
             {% empty %}
                <h2>No recipe for the moment.</h2>
        {% endfor %}    
        
            </div>


            <!-- Pagination -->
            <!-- <div class="pagination">
                <ul>
                    <li><a href="#"><<</a></li>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">>></a></li>
                </ul>
            </div> -->
{% endblock content %}