{% extends 'base_principal.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load humanize %}
{% load embed_video_tags %}
{% load comments %}
{% load i18n %}

{% block slide %}

<section id="home" class="home">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_home_slider">
                            <div class="single_home_slider">
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                    <h1>Cook' iT</h1>
                                    <p class="subtitle">Découvir, Cuisiner, Savourer</p>

                                    <div class="home_btn">
                                        <a href="" class="btn btn-primary">LEARN MORE</a>
                                    </div>

                                </div>
                            </div>
                            <div class="single_home_slider">
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                    <h1>Cook' iT</h1>
                                    <p class="subtitle">Cuisiner</p>

                                    <div class="home_btn">
                                        <a href="" class="btn btn-primary">LEARN MORE</a>
                                    </div>

                                </div>
                            </div>
                            <div class="single_home_slider">
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                    <h1>Cook' iT</h1>
                                    <p class="subtitle">Savourer</p>

                                    <div class="home_btn">
                                        <a href="" class="btn btn-primary">LEARN MORE</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock slide %}


{% block content %}


{% endblock content %}