{% load staticfiles %}
{% load thumbnail %}
{% load humanize %}
{% load embed_video_tags %}
{% load comments %}
{% load i18n %}

   <div class="mixcontent row">
                        
            <div class="margin-bottom-20">
                         
                <div class="col-sm-4">
                     <br>
                        <img src="{{recipe.image.url}}" class="img-responsive">
                </div>
                <div class="col-sm-8">
                   
                    <h4 class="rp-post-title"><a href="{% url 'recipe_detail' slug=recipe.slug %}">{{ recipe.title}}</a></h4>

                    <div class="rp-post-meta-info">
                       <ul class="list-inline">
                
                            <li>
                            {% if recipe.author.is_staff_member %}
                                <img src="{% static 'assets/images/chef2.jpg' %}" class="img-circle" width="30px;" alt="">
                                 By <a href="#" class="rp-author">{% trans 'L équipe' %}</a>
                            {% else %}
                                <img src="{% static 'assets/images/chef2.jpg' %}" class="img-circle" width="30px;" alt="">
                                By <a  class="rp-author" data-toggle="modal" data-target="#modalAvatar{{recipe.author.id}}">{{recipe.author}}</a>
                            {% endif %}
                            <li><i class="fa fa-calendar" aria-hidden="true"></i> {{ recipe.published_at|date:'F j, Y' }} </li> 
                            
                            <li><i class="fa fa-eye cook-second-color" aria-hidden="true"></i>{{recipe.view}}</li>

                            <li>
                                <a type="button" class="like" data-like-pk="{{recipe.pk}}" ><i class="fa fa-heart cook-second-color" aria-hidden="true"></i></a><span id="count-like-{{recipe.pk}}"> {{recipe.like}}</span>
                            </li>
                            
                            {% get_comment_count for recipe as comment_count %}
                            <li><a href="#comment"><i class="fa fa-comments cook-second-color" aria-hidden="true"></i></a>{{comment_count}}</li>
                        </ul>
                    </div>

                    <p>{{ recipe.description|safe|truncatechars:150 }}</p>
                    <a href="{% url 'recipe_detail' slug=recipe.slug %}" class="rp-post-btn"><em> Lire la suite → </em></a>
                   

                </div> 

            </div>
              
        </div>

    <hr>