{% extends 'base_principal.html' %}   
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load humanize %}
{% load apps_filters %}
{% load widget_tweaks %}
{% load social_share %}

<!-- {% load comments %} -->
{% load threadedcomments_tags %}
{% block extrahead %}

    {{ block.super }}

    {% include "comments/ajax_comments.html" %}

{% endblock %}

{% block head_title %}{{recipe.title}}{% endblock %}

{% block slide %}
   
<section id="home" class="home">
  
    <img src="{% static 'assets/images/top-recette.jpg' %}" width="100%">
                                   
</section>
{% endblock slide %}

{% block header %}

   <section class="rp-post-header margin-top-40">
            
            <div class="rp-post-cat">
                
                <ul class="list-inline">

                    <li><a href="{% url 'recipe_per_cat' slug=recipe.category.slug %}">{{recipe.category.name}}</a></li>   
                  
                    {% for origin in recipe.origin.all %}

                    <li><a href="/recipes/origin/?origin={{ origin.ethnic }}">{{origin.ethnic}}</a></li>

                    {% endfor %}
                
                </ul>
                
            </div>
            <h2 class="rp-post-title">{{recipe.title}}</h2>
        
            <div class="rp-post-meta-info">
                <ul class="list-inline">
                    <li>
                    {% if recipe.author.is_staff_member %}
                        <img src="{% static 'assets/images/tk-icon.png' %}" class="img-circle" style="background-color: #000; width: 26px; height: 26px;" alt="">
                        By <a href="#" class="rp-author">{% trans 'L équipe' %}</a>
                    {% else %}
                        {% if recipe.author.photo %}
                            <img src="{{recipe.author.photo.url}}" class="img-circle" width="20px;" alt="">
                        {% else %}
                            <img src="{% static 'assets/images/user_icon.png' %}" class="img-circle" width="20px;" alt="">
                        {% endif %}
                        By <a  class="rp-author" data-toggle="modal" data-target="#modalAvatar{{recipe.author.id}}">{{recipe.author}}</a>
                    {% endif %}
                    <li><i class="fa fa-calendar" aria-hidden="true"></i>{% language 'fr' %}
                         {{ recipe.published_at|date:'d M Y ' }} </li> 
                         {% endlanguage %}
                    
                    <li><i class="fa fa-eye cook-second-color" aria-hidden="true"></i>{{recipe.view}}</li>

                    <li>
                   
                       <!--  <a type="button" class="like" data-like-pk="{{recipe.pk}}" id="like" {% if ip in list_ip %} title="je n'aime plus" {% else %} title="j'aime" {% endif %}><i class="fa fa-heart" aria-hidden="true"></i></a><span id="count-like-{{recipe.pk}}"> {{recipe.like}}</span> -->
                        
                      
                      
                    



                    </li>
                    
                    {% get_comment_count for recipe as comment_count %}
                    <li><a href="#comment" title="commentaire"><i class="fa fa-comments cook-second-color" aria-hidden="true"></i></a>{{comment_count}}</li>
                </ul>
                
            </div>
            <div class="rp-post-share">


                 <!--Facebook-->
                {% post_to_facebook %}

                
                <!--Twitter-->
               <!--Twitter-->
                {% post_to_twitter "{{recipe.title}}"  "" %}

                <!--Gplus-->

                <!--linkedin-->
               

                 
            </div>
            
            <!-- Include author modal -->
            {% include 'recipe/modal_user.html' %}

           
        </section>

{% endblock header %}

{% block content %}
 

    <section class="main_mix_content single_mixi rp-post-detail">
     
        <div class="rp-post-image">


            <div id="sg-carousel" class="carousel slide carousel-fade" data-ride="carousel">
           
            
            <div class="carousel-inner carousel-zoom">
                <!-- Wrapper for slides -->
               <!--  <div class="carousel-inner card" role="listbox">
 -->
                    <!-- First slide -->
                    <div class="item active">

                      {% thumbnail recipe.image  "900x650" crop="center" as img %}
                        <img src="{{img.url}}" class="img-responsive">
                      {% endthumbnail %}
                        
                    </div>
                    <!-- /.item -->
 
                    <!-- Second slide -->
                    {% if recipe.image_1 %}
                    <!-- Second slide -->
                    <div class="item">
                        {% thumbnail recipe.image_1  "900x650" crop="center" as img %}
                       <img src="{{img.url}}" class="img-responsive">
                        {% endthumbnail %}
                    </div>
                    {% endif %}

                    {% if recipe.image_2 %}
                    <!-- Second slide -->
                    <div class="item">
                        {% thumbnail recipe.image_2  "900x650" crop="center" as img %}
                       <img src="{{img.url}}" class="img-responsive">
                        {% endthumbnail %}
                    </div>
                    {% endif %}
                   
                    <!-- /.item -->

                   {% if recipe.image_3 %}
               
                    <div class="item">
                        {% thumbnail recipe.image_3  "900x650" crop="center" as img %}
                       <img src="{{img.url}}" class="img-responsive">
                        {% endthumbnail %}
                    </div>
                    {% endif %}

                    {% if recipe.image_4 %}
               
                    <div class="item">
                        {% thumbnail recipe.image_4  "900x650" crop="center" as img %}
                       <img src="{{img.url}}" class="img-responsive">
                        {% endthumbnail %}
                    </div>
                    {% endif %}

                    {% if recipe.image_5 %}
               
                    <div class="item">
                        {% thumbnail recipe.image_5  "900x650" crop="center" as img %}
                       <img src="{{img.url}}" class="img-responsive">
                        {% endthumbnail %}
                    </div>
                    {% endif %}
                    

                </div>
                <!-- /.carousel-inner -->

                 <!-- Carousel nav -->
                <a class="carousel-control left" href="#sg-carousel" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#sg-carousel" data-slide="next">›</a>
            </div> 
            <!-- /.carousel -->
        </div>

        <div class="padding-20">

        <div class="rp-post-time">  
            <div class="row">
           
                <div class="col-md-4">
                    <strong>{% trans 'Temps de préparation' %}:</strong>
                    {% if recipe.prepare_time %} {{recipe.prepare_time|format_time}} {% else %} --- {% endif %}
                </div>
            
            
                <div class="col-md-4">
                    <strong>{% trans 'Temps de cuisson' %}:</strong>
                     {% if recipe.cooking_time %}  {{recipe.cooking_time|format_time}} {% else %} --- {% endif %}
                </div>
           
                <div class="col-md-4">
                   <strong>{% trans 'Prêt dans' %}:</strong> 
                   {% if recipe.total_time %}{{recipe.total_time|format_time}} {% else %} --- {% endif %}
                </div>
           
            </div>

        </div>
        
        <div class="rp-post-description">
            
                <p>
                {{recipe.description}}
                </p>
          
        </div>
            
        <div class="row margin-top-40">
            <div class="col-md-3 rp-post-instruction  margin-top-40">
                       
                <h5 class=""> Ingrédients</h5>
                
                <div class="rp-bloc-note">
                <p>
                 {{recipe.ingredient|safe}}  
                </p>                
                </div>
            </div>
            
            <div class="col-md-9 rp-post-instruction"> 
                 
                <h5>Instructions</h5>
                
                <div class="rp-post-step">
                          
                    {{recipe.preparation|safe}}
                
                </div> 
            </div>
        </div>

        <div class="rp-post-share margin-bottom-20">
            <strong> {% trans 'PARTAGER' %} &nbsp;&nbsp;  </strong>
             <!--Facebook-->
              
                {% post_to_facebook %}

                
                <!--Twitter-->
                {% post_to_twitter "{{recipe.title}}"  "" %}

                <!--Gplus-->
            <!--Pinterest-->
<!--             <a class="btn pin-bg waves-effect waves-light" href=""><i class="fa fa-pinterest"></i></a>
 -->        </div> 

        </div> 


    </section>

    
    <!-- Tag section -->
    <section class="main_mix_content single_mixi margin-top-40 padding-20">
        
        <div class="row"> 
            <div class="col-md-12">

                <div class="pull-left">
                      
                        <ul class="list-inline">

                        <li>  <i class="fa fa-tags cook-first-color"></i><strong>TAGS:</strong></li>
                        {% for tag in recipe.tags.all %}

                        <li><a href="/recipes/tag/?tag={{ tag.name }}">{{tag.name}}</a></li>

                        {% endfor %}
                        </ul>
                </div>
            </div>
       
        </div>   
    </section>
    

    <!-- Section comments -->
    <section class="main_mix_content single_mixi padding-20 margin-top-40">

        <div class="row" id="comment">
           {% get_comment_count for recipe as comment_count %}
            <h5 class="padding-20" data-toggle="collapse" href="#collapse1"><i class="fa fa-comments" aria-hidden="true"></i> {{comment_count}} Commentaire{{ comment_count|pluralize }} </h5>              

            <div id="collapse1" class="panel-collapse collapse">
             
                <div id="comment-list" class="padding-20">

                    <ul class="list">
                        {% get_comment_list for recipe as comment_list %}


                        {% for comment in comment_list|fill_tree|annotate_tree %}
                        <div {% if request.REQUEST.c|add:"0" == node.id %}id="newly_posted_comment"{% endif %}>
                        <div class="name">
                            <div class="media">
                                <a class="pull-left" href="#"> 
                                  
                                    <img src="{% static 'assets/images/user-logo.jpg' %}" class="img-rounded" width="50px;" alt="">
                                </a> 
                                <div class="media-body rp-comment">
                                    <span class="rp-arrow">
                                    </span>
                                   
                                    <h6 class="media-heading"><a href="" class="cook-second-color">
                            

                                    {{comment.user_name}}</a> <span class="text-right">{{comment.submit_date|naturaltime}}</span></h6>
                                   
                                    
                                    <p style="padding-left: 10px;">{{comment.comment}}</p>
                                    
                                </div>

                            </div>
                        </div>
                        </div>
                        <br>
                        {% endfor %}
                      
                    </ul>
                   
                    <!-- Pagination comments -->

                    <div class="comment-pagination">
                        <ul class="pagination"></ul>
                    </div>
                    
                </div>
            </div> 

            <!-- Comment form -->
            <div class="form-block col-xs-12">
                <div class="">
                    <h4>{% trans 'Laisser un commentaire' %}</h4>
                    <div class="separator4"></div>
                    <p class="">{% trans 'Votre adresse email ne sera pas publié' %}.</p>
                    <br>
                </div>
            
               
               {% if user.is_authenticated %}
                {% get_comment_form for recipe as form %}
                 <div class="comment-form" id="comment-form-{{ node.id }}" {% if node.id %} style="display:none;" {% endif %}>
                    <form action="{% comment_form_target %}" method="POST" >
                    {% csrf_token %}
                    {{ form.comment|add_class:'form-control' }}
                    
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}
                    <br>
                    <input type="hidden" name="next" value="{% url 'recipe_detail' slug=recipe.slug %}" />
                    
                    <button class="btn btn-primary" type="submit" id="id_submit">{% trans 'Envoyer' %}</button>
                    </form>
                </div>
                {% else %}

                <p class="">{% trans 'Veuillez vous' %} <a href="{% url 'account_login' %}">{% trans 'connecter' %}</a>{% trans ' si vous êtes déjà membre. Sinon, remplissez juste ces champs' %} . 
                </p>
                {% get_comment_form for recipe as form %}
                
               <!--  <div class="comment-form" id="comment-form-{{ node.id }}" {% if node.id %}style="display:none;"{% endif %}> -->
                    <form action="{% comment_form_target %}" method="post">
                        {% csrf_token %}
                        {{ form.content_type }}
                        {{ form.object_pk }}
                        {{ form.timestamp }}
                        {{ form.security_hash }}
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label>{% trans 'Nom' %} <span class="label-description">(ex: Koffi) <sup>*</sup></span></label></span> {{form.name|add_class:'form-control'}}  
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label>{% trans 'Email' %} <span class="label-description">(Non Publié) <sup>*</sup></span></label></span> {{form.email|add_class:'form-control'}}  
                            </div>
                            <!-- <div class="form-group col-xs-12 col-sm-4">
                                <label>{% trans 'Site Web' %}<span class="label-description">(Optionnel)</span> </label> {{form.url|add_class:'form-control'}}  
                            </div> -->
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-xs-12">
                            <label>{% trans 'Commentaire' %}<sup>*</sup></label></span><br> 
                            {{form.comment|add_class:'form-control'}}
                            </div>
                        </div>
                           <input type="hidden" name="next" value="{% url 'recipe_detail' recipe.slug %}" />
                        <button class="btn btn-primary" type="submit">{% trans 'Envoyer' %}</button>
                        
                    </form> 
                <!-- </div> -->

            {% endif %}
            </div>     

    </section>



    <!-- Related post -->
   <!--  <section class="rp-post-related">
            <ul class="nav nav-tabs tabs-4">
                <li class="active"><a data-toggle="tab" href="#posts">RELATED POSTS</a></li>   
                <li><a data-toggle="tab" href="#authors">MORE FROM AUTHOR</a></li>  
            </ul>   


            <div class="tab-content">
                <div id="posts" class="tab-pane fade in  active">
                   <ul class="row list-unstyled" id="">
                    {% for r in recipe_related %}
                        <li class="col-md-4">    
                        {% if r.image %}
                            <a href="{% url 'recipe_detail' slug=r.slug %}">
                            {% thumbnail r.image  "900x500" crop="center" as im %}
                                <img src="{{im.url}}" class="img-responsive">       
                            {% endthumbnail %}  
                            </a>
                        {% else %}
                            <a href=""></a>
                        {% endif %}

                            <h5 class=""><a href="{% url 'recipe_detail' slug=r.slug %}" class="cook-second-color">{{r.title|truncatechars:30}}</a></h5>     
                        </li>    
                    {% endfor %} 
                    </ul>
                </div>

                <div id="authors" id="content" class="defaults tab-pane fade in active">
                
                    <ul class="row list-unstyled" id="itemContainer">
                    {% for r in recipe_author %}
                        <li class="col-md-4">    
                        {% if r.image %}
                            <a href="{% url 'recipe_detail' slug=r.slug %}">
                            {% thumbnail r.image  "900x500" crop="center" as im %}
                                <img src="{{im.url}}" class="img-responsive">       
                            {% endthumbnail %}  
                            </a>
                        {% else %}
                            <a href=""></a>
                        {% endif %}

                            <h5 class=""><a href="{% url 'recipe_detail' slug=r.slug %}" class="cook-second-color">{{r.title|truncatechars:30}}</a></h5>     
                        </li>    
                    {% endfor %} 
                    </ul>
                
                        
                  
                {% if recipe_author.has_other_pages %}
                    <div class="rp-related-pagination"></div>
                {% endif %}         
                </div>
            </div>

        </section> -->

   
<br>
{% endblock content %}   

