{% extends 'base_principal.html' %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}


{% block slide %}


   <section id="home" class="home">

      <!--   <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_home_slider">
                            <div class="single_home_slider">
                                <div class="main_home wow"> -->
                                    <!-- <h1>Cook' iT</h1> -->
                                    <img src="{% static 'assets/images/food_1.jpg' %}">
                                    <!-- <p class="subtitle">Découvir, Cuisiner, Savourer</p>

                                    <div class="home_btn">
                                        <a href="" class="btn btn-primary">LEARN MORE</a>
                                    </div> -->
<!-- 
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
    <!-- <div class="top-user">
        <br>
        <div class="col-md-8">
            <div class="media">

                <a class="pull-left" href="">
                {% if request.user.profile.photo %}

                    <img src="{{request.user.profile.photo.url}}"  class="img-responsive img-circle">
  
                {% else %}
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" class="media-object img-circle img-responsive" width="" height="">
                {% endif %}
                
                </a>
                <div class="media-body">
                <br>
                    <h3 class="media-heading">{{request.user.first_name}} {{request.user.last_name}}</h3>
                    <p>
                    {{request.user.profile.bio}}
                    </p>
                    
                </div>
            </div>
        </div>
    </div> -->
    

{% endblock slide %}

{% block content %}
 <!-- Post -->
 <div class="main_mix_content text-center padding">

    <div id="mixcontent" class="mixcontent row">
     
          
            <div class="col-lg-8">
                <p>
                    Looks like you are too busy cooking and haven't uploaded anything. Please take some time to contribute your inspirational recipes or photos to make ....com a better place
                </p>
            </div>
            <div class="col-lg-4">
                        
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        
                        <tbody>
                            <tr>
                                <td> 
                                    <p>{% trans 'Recettes' %}</p>
                                    <h3 class="">{{nb}}</h3>
                                </td>
                                 
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
        
        <br>
        <div class="row">
                    
                    <div class="col-lg-12">
                        
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>{% trans 'Publié le' %}</th>
                                         <th>{% trans 'Catégorie' %}</th>
                                        <th>{% trans 'Nom' %}</th>
                                        <th>{% trans 'Vues' %}</th>
                                        <th>{% trans 'Likes' %}</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for recipe in recipes %}
                                    <tr>
                                        <td>{{recipe.published_at|date:'F j, Y'}}</td>
                                        <td><a href="">{{recipe.category.name}}</a></td>
                                        <td><a href="{% url 'recipe_detail' pk=recipe.pk %}">{{recipe.title}}</a></td>
                                        <td><a href="">{{recipe.view}}</a></td>
                                        <td><a href="">{{recipe.like}}</a></td>
                                        
                                    </tr>

                                    {% empty %}
                                        <tr>{% trans 'Aucune recette publiée' %}.</tr>
                                    {% endfor %}  


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- /.row -->

        <div class="rp-pagination text-center">
       
		{% if recipes.has_other_pages %}
			<ul class="pagination">
				{% if recipes.has_previous %}
			      <li><a href="?page={{ recipes.previous_page_number }}">&laquo;</a></li>
			    {% else %}
				<li class="disabled"><span>&laquo;</span></li>
			    {% endif %}
			    {% for i in recipes.paginator.page_range %}
			      {% if recipes.number == i %}
			        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
			      {% else %}
			        <li><a href="?page={{ i }}">{{ i }}</a></li>
			      {% endif %}
			    {% endfor %}
			    {% if recipes.has_next %}
			      <li><a href="?page={{ recipes.next_page_number }}">&raquo;</a></li>
			    {% else %}
			      <li class="disabled"><span>&raquo;</span></li>
			    {% endif %}
			</ul>
		{% endif %}
		</div>
    </div>
		
{% endblock content %}

