{% extends 'base_principal.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}
{% load widget_tweaks %}

{% block slide %}

    <section id="home" class="home">

        <img src="{% static 'assets/images/food_1.jpg' %}">

    </section>

{% endblock slide %}

{% block content %}


 <!-- Post -->



    <div class="main_mix_content card padding">


        <div id="mixcontent" class="mixcontent row ">


            <div class="col-md-12">
                <section class="paper padding-20">
                    <h3 class="h3-responsive text-center">Proposer votre recette</h3>
                     <p>Remplissez les champs suivants, après une étude vous recevrez une notification</p>

                    <hr>


                    <form method="POST"  name="add-form" id="add_origin" action="{% url 'recipe_add' %}" class="form-block" enctype="multipart/form-data">
                        {% csrf_token %}
                         {{ form.media }}

                         {{ form.as_p }}



                        <button type="submit" class="btn btn-primary" id="submit_origin">{% trans 'Envoyer' %}</button>
                    </form>

                </section>

            </div>


        </div>
    </div>

    <br>
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function () {

        // $("#add_id_origin").attr("title", "Ajouter une nouvelle ethnie");
        // $( "#submit_origin" ).click(function() {
        //     window.close();
        // });

    });
    </script>

{% endblock content %}











