{% extends 'base_principal.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load humanize %}
{% load embed_video_tags %}
{% load comments %}
{% load i18n %}

{% block slide %}
<section id="home" class="home">

   
        <img src="{% static 'assets/images/top-header.jpg' %}">
                                   
</section>

{% endblock slide %}



{% block content %}
 <!-- Post -->
 		
    <div class="main_mix_content text-center padding">

        <div class="mixcontent row">
        {% for recipe in recipes %}
            <div class="col-md-6">
                <div class="single_mixi_portfolio margin-bottom-40">
                    <div class="view hm-zoom">
           
                        {% if recipe.image %}
                        <a href="{% url 'recipe_detail' slug=recipe.slug %}">
                        {% thumbnail recipe.image  "900x500" crop="center" as im %}
                            <img src="{{im.url}}" class="img-responsive">
                        {% endthumbnail %}  
                        </a>
                        {% else %}
                            <a href=""></a>
                        {% endif %}
                        <div class="text-floating">
                            <ul class="list-inline">
                                <li class="">
                                    <a class="like" data-recipe-pk="{{recipe.pk}}" type="button"><i class="fa fa-heart cook-second-color" aria-hidden="true"></i></a><span id="count-like-{{recipe.pk}}"> {{recipe.like}}</span>
                                </li>
                                <li class=""><a href="#"><i class="fa fa-eye cook-second-color" aria-hidden="true"></i></a><span> {{recipe.view}}</span></li>
                            </ul>
                        </div>
                        <div class="mask flex-center">

                        </div>
                    </div>
                   
                    <div class="single_mixi_portfolio_content">
                        <a href="{% url 'recipe_detail' slug=recipe.slug %}" class="title">{{recipe.title|truncatechars:30}}</a>
                        <p>
                         {% if recipe.author.is_staff_member %}
                             <img src="{% static 'assets/images/tk-icon.png' %}" class="img-circle" style="background-color: #000; width: 20px; height: 20px;" alt=""> By <a href="#" class="rp-author">{% trans 'L équipe' %}</a>
                        {% else %}
                            

                            By <a data-toggle="modal" data-target="#modalAvatar{{recipe.author.id}}" class="rp-author">{{recipe.author}}</a>
                        {% endif %}
                        </p>
                    </div>
                   
                </div>
            </div>

            
             <!-- Modal -->
   
             {% include 'recipe/modal_user.html' %}
                        
            
        {% empty %}
                <h2>Aucune recette disponible.</h2>
        {% endfor %}

        </div>
    </div>

    <div class="rp-pagination text-center">
        {% if recipes.has_other_pages %}
            <ul class="pagination">
                {% if recipes.has_previous %}
                  <li><a href="?page={{ recipes.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in recipes.paginator.page_range %}
                  {% if recipes.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if recipes.has_next %}
                  <li><a href="?page={{ recipes.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>

                <!-- End   -->

    


{% endblock content %}
