{% extends 'recipe/recipe_publish_list.html' %}   
% load staticfiles %}
{% load thumbnail %}
{% load i18n %}


{% block content_recipe %}



    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">

            <div class="col-lg-offset-2 col-lg-8">
                <form method="POST" action=""  name="add-form" class="form-block" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                <button type="submit" class="save btn btn-default">{% trans 'Envoyer' %}</button>
                </form>
            </div>

        </div>
    </div>
    <!-- /.row -->

{% endblock %}

