{% extends 'base_principal.html' %}   
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load humanize %}
{% load apps_filters %}
{% load widget_tweaks %}
<!-- {% load comments %} -->
{% load threadedcomments_tags %}
{% block extrahead %}

    {{ block.super }}

    {% include "comments/ajax_comments.html" %}

{% endblock %}


{% block slide %}
   
<section id="home" class="home">
    
      <!--   <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_home_slider">
                            <div class="single_home_slider">
                                <div class="main_home wow"> -->
                                    <!-- <h1>Cook' iT</h1> -->
                                    <img src="{% static 'assets/images/food_1.jpg' %}">
                                    <!-- <p class="subtitle">Découvir, Cuisiner, Savourer</p>

                                    <div class="home_btn">
                                        <a href="" class="btn btn-primary">LEARN MORE</a>
                                    </div> -->
<!-- 
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
{% endblock slide %}

{% block header %}

   <section class="rp-post-header margin-top-40">
            
            <div class="rp-post-cat">
                
                <ul class="list-inline">

                    <li><a href="">{{recipe.category.name}}</a></li>   
                  
                    {% for origin in recipe.origin.all %}

                    <li><a href="">{{origin.ethnic}}</a></li>

                    {% endfor %}
                
                </ul>
                
            </div>
            <h2 class="rp-post-title">{{recipe.title}}</h2>
        
            <div class="rp-post-meta-info">
                <ul class="list-inline">
                
                    <li><img src="{% static 'assets/images/chef2.jpg' %}" class="img-circle" width="30px;" alt="">
                  
                        By <a  data-toggle="modal" data-target="#modalAvatar{{recipe.author.id}}" class="rp-author">Admin</a></li>  
                    <li><i class="fa fa-calendar" aria-hidden="true"></i> {{ recipe.published_at|date:'F j, Y' }} </li> 
                    
                    <li><i class="fa fa-eye cook-second-color" aria-hidden="true"></i>{{recipe.view}}</li>

                    <li>
                        <a hef="" class="like" data-recipe-pk="{{recipe.pk}}" type="button"><i class="fa fa-heart cook-second-color" aria-hidden="true"></i></a><span id="count-like-{{recipe.pk}}"> {{recipe.like}}</span>
                    </li>
                    {% get_comment_count for recipe as comment_count %}
                    <li><a href="#comment"><i class="fa fa-comments cook-second-color" aria-hidden="true"></i></a>{{comment_count}}</li>
                </ul>
            </div>
            <div class="rp-post-share">
                 <!--Facebook-->
                <a class="btn fb-bg waves-effect waves-light"><i class="fa fa-facebook left"></i><span class="hidden-xs">  | Share on Facebook</span></a>
                    
                <!--Twitter-->
                <a class="btn tw-bg waves-effect waves-light" ><i class="fa fa-twitter left"></i><span class="hidden-xs">  | Tweet on Twitter</span></a>
                <!--Gplus-->
                <a class="btn gplus-bg waves-effect waves-light"><i class="fa fa-google-plus"></i></a>
                <!--Pinterest-->
                <a class="btn pin-bg waves-effect waves-light"><i class="fa fa-pinterest"></i></a>
                
            </div>
            
           
        </section>

{% endblock header %}

{% block content %}
 

    <section class="rp-post-detail">
     
        <div class="rp-post-image">
            <div id="carousel-thum" class="carousel slide carousel-fade carousel-thumbnails">

            
                <!-- Wrapper for slides -->
                <div class="carousel-inner card" role="listbox">

                    <!-- First slide -->
                    <div class="item active">

                      {% thumbnail recipe.image  "800x400" crop="center" as img %}
                        <img src="{{img.url}}" class="img-responsive">
                      {% endthumbnail %}
                        
                    </div>
                    <!-- /.item -->
 
                    <!-- Second slide -->
                    {% if recipe.image_1 %}
                    <!-- Second slide -->
                    <div class="item">
                        {% thumbnail recipe.image_1  "800x400" crop="center" as img %}
                       <img src="{{img.url}}" class="img-responsive">
                        {% endthumbnail %}
                    </div>
                    {% endif %}

                    {% if recipe.image_2 %}
                    <!-- Second slide -->
                    <div class="item">
                        {% thumbnail recipe.image_2  "800x400" crop="center" as img %}
                       <img src="{{img.url}}" class="img-responsive">
                        {% endthumbnail %}
                    </div>
                    {% endif %}
                   
                    <!-- /.item -->

                   {% if recipe.image_3 %}
               
                    <div class="item">
                        {% thumbnail recipe.image_3  "800x400" crop="center" as img %}
                       <img src="{{img.url}}" class="img-responsive">
                        {% endthumbnail %}
                    </div>
                    {% endif %}
                    

                </div>
                <!-- /.carousel-inner -->

                <!-- Controls -->
                <a class="owl left carousel-control new-control" href="#carousel-thum" role="button" data-slide="prev">
                    <span class="fa fa fa-angle-left waves-effect waves-light"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="owl right carousel-control new-control" href="#carousel-thum" role="button" data-slide="next">
                    <span class="fa fa fa-angle-right waves-effect waves-light"></span>
                    <span class="sr-only">Previous</span>
                </a>

            </div>
            <!-- /.carousel -->
        </div>

        <div class="rp-post-time">  
            <div class="row">
           
                <div class="col-md-4">
                    <strong>{% trans 'Temps de préparation' %}:</strong>
                    {% if recipe.prepare_time %} {{recipe.prepare_time|format_time}} {% else %} --- {% endif %}
                </div>
            
            
                <div class="col-md-4">
                    <strong>{% trans 'Temps de cuisson' %}:</strong>
                     {% if recipe.cooking_time %}  {{recipe.cooking_time|format_time}} {% else %} --- {% endif %}
                </div>
           
                <div class="col-md-4">
                   <strong>{% trans 'Total' %}:</strong> 
                   {% if recipe.total_time %}{{recipe.total_time|format_time}} {% else %} --- {% endif %}
                </div>
           
            </div>

        </div>
        
        <div class="rp-post-description">
            
                <p>
                {{recipe.text}}
                </p>
          
        </div>
            
        <div class="row  margin-top-40">
            <div class="col-md-4 rp-post-instruction  margin-top-40">
                       
                <h5 class=""> Ingredients</h5>
                
                <div class="rp-bloc-note">
                <p>
                 {{recipe.ingredient|safe}}  
                </p>                
                </div>
            </div>
            
            <div class="col-md-8 rp-post-instruction"> 
                 
                <h5 class="text-center">Instructions</h5>
                
                <div class="rp-post-step">
                
                
                    {{recipe.preparation|safe}}
                    
                
                
                </div> 
            </div>
        </div>

        <div class="rp-post-share border margin-bottom-20">
            <strong> SHARE &nbsp;&nbsp;  </strong>
             <!--Facebook-->
            <a class="btn fb-bg waves-effect waves-light"><i class="fa fa-facebook left"></i><span class="hidden-xs"> | Facebook</span></a>
            <!--Twitter-->
            <a class="btn tw-bg waves-effect waves-light" ><i class="fa fa-twitter left"></i><span class="hidden-xs"> | Twitter</span></a>
            <!--Gplus-->
            <a class="btn gplus-bg waves-effect waves-light"><i class="fa fa-google-plus"></i></a>
            <!--Pinterest-->
            <a class="btn pin-bg waves-effect waves-light"><i class="fa fa-pinterest"></i></a>
        </div> 

        <div class="row"> 
            <div class="col-md-12">

                <div class="pull-left">
                      
                        <ul class="list-inline tags">

                        <li>  <i class="fa fa-tags cook-first-color"></i><strong>TAGS:</strong></li>
                        {% for tag in recipe.tags.all %}

                         <li><a>{{tag.name}}</a></li>

                        {% endfor %}
                        </ul>
                </div>
            </div>
       
        </div>      
           

    </section>

    <!-- Section comments -->
    <section class="margin-top-40">

        <div class="row" id="comment">
           {% get_comment_count for recipe as comment_count %}
            <h3 class="padding-20" data-toggle="collapse" href="#collapse1"><i class="fa fa-comments" aria-hidden="true"></i> {{comment_count}} {% trans 'Commentaires' %} </h3>              

            <div id="collapse1" class="panel-collapse collapse">
             
                <div id="comment-list">

                    <ul class="list">
                        {% get_comment_list for recipe as comment_list %}

                        {% for comment in comment_list|fill_tree reversed %}
                        <div {% if request.REQUEST.c|add:"0" == node.id %}id="newly_posted_comment"{% endif %}>
                        <div class="name">
                            <div class="media">
                                <a class="pull-left" href="#"> 
                                  
                                    <img src="{% static 'assets/images/chef2.jpg' %}" class="img-circle" width="50px;" alt="">
                                </a> 
                                <div class="media-body rp-comment">
                                    <span class="rp-arrow">
                                    </span>
                                   
                                    <h6 class="media-heading"><a href="" class="cook-second-color">
                            

                                    {{comment.user_name}}</a> <span class="text-right">{{comment.submit_date|naturaltime}}</span></h6>
                                   
                                    <hr>
                                    <p>{{comment.comment}}</p>
                                    
                                </div>

                            </div>
                        </div>
                        </div>
                        <br>
                        {% endfor %}
                      
                    </ul>
                   
                    <!-- Pagination comments -->

                    <div class="comment-pagination">
                        <ul class="pagination"></ul>
                    </div>
                    
                </div>
            </div> 

            <!-- Comment form -->
            <div class="form-block col-xs-12">
                <div class="text-center">
                    <h4>{% trans 'Laisser un commentaire' %}</h4>
                    <p class="text-center">{% trans 'Votre adresse email ne sera pas publié' %}.</p>
                    <br>
                </div>
            
               
               {% if user.is_authenticated %}
                {% get_comment_form for recipe as form %}
                 <div class="comment-form" id="comment-form-{{ node.id }}" {% if node.id %} style="display:none;" {% endif %}>
                    <form action="{% comment_form_target %}" method="POST"  id="comment-form-{{ node.id }}f">
                    {% csrf_token %}
                    {{ form.comment|add_class:'form-control' }}
                    
                    <!-- {{ form.honeypot }} -->
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}
                    <br>
                    <input type="hidden" name="next" value="{% url 'recipe_detail' recipe.pk %}" />
                    
                    <button class="btn btn-primary" type="submit" id="id_submit">{% trans 'Envoyer' %}</button>
                    </form>
                </div>
                {% else %}

                <p class="text-center">Please <a href="{% url 'account_login' %}">log in</a> to leave a comment if you are a member. If not just fill this fields</p>
                
                {% get_comment_form for recipe as form %}
                
               <!--  <div class="comment-form" id="comment-form-{{ node.id }}" {% if node.id %}style="display:none;"{% endif %}> -->
                    <form action="{% comment_form_target %}" method="post">
                        {% csrf_token %}
                        {{ form.content_type }}
                        {{ form.object_pk }}
                        {{ form.timestamp }}
                        {{ form.security_hash }}
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-4">
                                <label>{% trans 'Nom' %} <span class="label-description">(ex: William) <sup>*</sup></span></label></span> {{form.name|add_class:'form-control'}}  
                            </div>
                            <div class="form-group col-xs-12 col-sm-4">
                                <label>{% trans 'Email' %} <span class="label-description">(Not published) <sup>*</sup></span></label></span> {{form.email|add_class:'form-control'}}  
                            </div>
                            <div class="form-group col-xs-12 col-sm-4">
                                <label>{% trans 'Website' %}<span class="label-description">(Optional)</span> </label> {{form.url|add_class:'form-control'}}  
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-xs-12">
                            <label>{% trans 'Commentaire' %}<sup>*</sup></label></span><br> 
                            {{form.comment|add_class:'form-control'}}
                            </div>
                        </div>
                           <input type="hidden" name="next" value="{% url 'recipe_detail' recipe.pk %}" />
                        <button class="btn btn-primary" type="submit">{% trans 'Envoyer' %}</button>
                        
                    </form> 
                <!-- </div> -->

            {% endif %}
            </div>     

    </section>

    <!-- Related post -->
        <section class="rp-post-related">
            <ul class="nav nav-tabs tabs-4">
                <li class="active"><a data-toggle="tab" href="#posts">RELATED POSTS</a></li>   
                <li><a data-toggle="tab" href="#authors">MORE FROM AUTHOR</a></li>  
            </ul>   


            <div class="tab-content">
                <div id="posts" class="tab-pane fade in  active">
                    Related posts
                </div>

                <div id="authors" id="content" class="defaults tab-pane fade in active">
                
                    <ul class="row list-unstyled" id="itemContainer">
                    {% for r in recipe_author %}
                        <li class="col-md-4">    
                        {% if r.image %}
                            <a href="{% url 'recipe_detail' pk=r.pk %}">
                            {% thumbnail r.image  "900x500" crop="center" as im %}
                                <img src="{{im.url}}" class="img-responsive">       
                            {% endthumbnail %}  
                            </a>
                        {% else %}
                            <a href=""></a>
                        {% endif %}

                            <h5 class=""><a href="{% url 'recipe_detail' pk=r.pk %}">{{r.title|truncatechars:30}}</a></h5>     
                        </li>    
                    {% endfor %} 
                    </ul>
                
                        
                    <!-- pagination -->
                {% if recipe_author.has_other_pages %}
                    <div class="rp-related-pagination"></div>
                {% endif %}         
                </div>
            </div>

        </section>

             <!-- Modal -->
           <div class="modal fade" id="modalAvatar{{recipe.author.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{recipe.id}}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="col-md-4">
                            
                            {% if recipe.author.profile.photo %}
                                <span class="author-inner">
                                <img src="{{recipe.author.profile.photo.url}}" class="img-responsive img-circle">
                                </span>
                                
                            {% else %}
                            
                            <img src="{% static 'img/user-logo.jpg' %}" class="img-responsive" data-pin-nopin="true">
                            
                            {% endif %}
                            <h5 class="">{{recipe.author.first_name}} {{recipe.author.last_name}}</h5>
                            </div>
                            <div class="col-md-8">
                                <p>{{recipe.author.profile.bio}}</p>
                            </div>
                        </div>
                        <!-- <div class="modal-body">
                        </div> -->
                        <div class="modal-footer">
                            <ul class="social-link list-inline">
                                <li><a href="" class="btn-floating facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="" class="btn-floating twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="" class="btn-floating gplus"><i class="fa fa-google-plus"></i></a></li>
                           </ul>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}     