{% extends 'base_principal.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}
{% load widget_tweaks %}

{% block slide %}

    <section id="home" class="home">

        <img src="{% static 'assets/images/food_1.jpg' %}">

    </section>

{% endblock slide %}

{% block content %}


 <!-- Post -->



    <div class="main_mix_content padding">

        <div class="card-header">
            {% include 'recipe/recipe_header.html' %}
        </div>
        <div class="card-body">
            <div id="mixcontent" class="mixcontent row ">


                <div class="col-md-12">
                    <section class="paper padding-20">
                        <h3 class="h3-responsive text-center">Proposer votre recette</h3>

                        <hr>

                        <form method="POST"  name="add-form" id="" action="{% url 'recipe_add' %}" class="form-block" enctype="multipart/form-data">
                            {% csrf_token %}
                             {{ form.media }}
                             {{ form.as_p }}

                            <button type="submit" class="btn btn-primary">{% trans 'Envoyer' %}</button>
                        </form>

                    </section>

                </div>
            </div>
        </div>
    </div>

    <br>
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    

{% endblock content %}











