{% extends 'base_admin.html' %} 
{% load staticfiles %}
{% load widget_tweaks %}
{% load thumbnail %}
{% load i18n %}
{% load humanize %} 

{% block content %}
 <div class="container-fluid dashboard-content">
    <!-- ============================================================== -->
    <!-- pageheader  -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="mb-2">Ajouter une recette </h3>
                
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Recettes</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Ajouter</li>

                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- content  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- influencer profile  -->
    <!-- ============================================================== -->
<!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST"  action="."  name="add-form" class="form-block" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                    <label for="id_title">{{form.title.label}}:</label>
                                    {{ form.title }}
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                    <label for="id_title">{{form.category.label}}:</label>
                                    {{ form.category }}

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                    <label for="id_title">{{form.prepare_time.label}}:</label>
                                    {{ form.prepare_time }}
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                    <label for="id_title">{{form.cooking_time.label}}:</label>
                                    {{ form.cooking_time }}

                                </div>
                            </div>

                             <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                    <label for="id_title">{{form.origin.label}}:</label>
                                    {{ form.origin }}
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                    
                                     <label for="id_title">{{form.tags.label}}:</label>
                                    {{ form.tags }}
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <label for="id_title">{{form.description.label}}:</label>
                                    {{ form.description }}
                                </div>
                               
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                    <label for="id_title">{{form.ingredient.label}}:</label>
                                    {{ form.ingredient }}
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                    <label for="id_title">{{form.preparation.label}}:</label>
                                    {{ form.preparation }}
                                </div>
                               
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                    <label for="id_title">{{form.image.label}}:  </label>
                                    {{ form.image }}
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                    <label for="id_title">{{form.image_1.label}}:</label>
                                    {{ form.image_1 }}
                                </div>
                               
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                    <label for="id_title">{{form.image_2.label}}:</label>
                                    {{ form.image_2 }}
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                    <label for="id_title">{{form.image_3.label}}:</label>
                                    {{ form.image_3 }}
                                </div>
                               
                            </div>
                            
                            

                            
                            

                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <button type="submit" class="save btn btn-success">{% trans 'Envoyer' %}</button>
                                </div>
                               
                            </div>
                      
                   
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
   

{% endblock %}

