{% extends 'video/video_publish_list.html' %}	
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load embed_video_tags %}
{% block content_video %}


    <div class="row text-center">
        
        <div class="col-lg-offset-2 col-lg-8">

        <h2><a href="">{{ video.title }}</a></h2>
               
                    <ul class="list-inline">
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>
                        {{ video.published_at|date:'F j, Y' }}</li>
                        <li><i class="fa fa-user" aria-hidden="true"></i>
                        {{video.author}}
                        </li>
                        <li><a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{video.view}}</a></li>    
                        <li><a><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>{{video.like}}</a></li>
                        <li><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 0 </a></li>
                    </ul>
                
                    {% video video.video as video %}
                    {% video video '640 x 480'  %}
                    {% endvideo %}
                        
                
                <hr>
                {% if not video.published_at %}
                <div class="video-share">
                    <a href="{% url 'video_publish' pk=video.pk %}" class="btn btn-default">Publier</a>
                    
                </div>
                {% endif %}
        </div>
    </div>
    <!-- /.row -->

{% endblock %}