{% extends 'restaurant/restaurant_publish_list.html' %}   
{% load staticfiles %}
{% load i18n %}
{% block content_restaurant %}


 <!-- Page Heading -->
        <div class="row">
            
                <div class="col-lg-offset-2 col-lg-8">
                    <form method="POST"  name="form" action="."  class="" enctype="multipart/form-data">
                        {% csrf_token %}
                         {{ form.media }}
                          {{ form.as_p }}
                        
                        <button type="submit" class="save btn btn-default">Envoyer</button>
                    </form>
                </div>
                
            
        </div>
        <!-- /.row -->



{% endblock %}

