{% extends 'base_principal.html' %}	
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load comments %}
{% load ratings %}
{% block head_title %}{% trans "Bonnes adresses" %}{% endblock %}

{% block slide %}

    <section id="home" class="home">

        <img src="{% static 'assets/images/top-adresse.jpg' %}" width="100%">
                                   
    </section>
{% endblock slide %}

{% block header %}

    
{% endblock header %}

{% block content %}

 {% for restaurant in restaurants %}              
    <div class="card">

        <div class="row">
                <div class="col-md-5">
                    <div class="view hm-zoom">
                        {% if restaurant.image %}
                            {% thumbnail restaurant.image  "900x800" crop="center" as im %}
                                <img src="{{im.url}}" class="img-responsive">
                            {% endthumbnail %} 
                        
                        {% else %}
                            <img src="{% static 'assets/images/map.png' %}" class="img-responsive">     
                        {% endif %}
                            <div class="mask flex-center">
                               
                            </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <h4 class="rp-post-title">{{ restaurant.name}}</h4>
                        
                   <!--Rating-->
                    <div class="padding">
                        
                        {% ratings restaurant %}
                        

                        <!--/.Rating-->
                        <p>{{ restaurant.description|safe }}</p>
                        <!-- <a href="" class="rp-post-btn"><em> Lire la suite → </em></a>  -->
                       

                        <div class="rp-post-meta-info">
                            
                            <dfn>
                            <ul class="list-inline">
                            {% if restaurant.tel %}
                                <li><strong><i class="fa fa-phone" aria-hidden="true"></i> </strong>{{restaurant.tel}}</li>
                                
                            {% endif %}
                               
                            {% if restaurant.address %} 
                                <li><strong><i class="fa fa-map-marker" aria-hidden="true"></i> </strong>{{restaurant.address}}</li>
                                
                            {% endif %}
                               
                            {% if restaurant.web_site %}  
                                <li><strong>Web site: </strong><a href="{{restaurant.web_site}}"> {{restaurant.web_site}}</a></li>
                            {% endif %}   
                            </ul>
                            </dfn>
                        </div>
                        <div class="footer_socail_right">
                           
                            <a href="{{restaurant.fb_id}}" target="blank"><i class="fa fa-facebook"></i></a>
                            <a href="{{restaurant.twit_id}}"><i class="fa fa-twitter" target="blank"></i></a>
                            <a href="{{restaurant.insta_id}}"><i class="fa fa-instagram" target="blank"></i></a>
                            <a href="{{restaurant.lind_id}}" target="blank"><i class="fa fa-linkedin"></i></a>
                        
                        </div>
                    </div>
                </div>
        </div>

    </div>

    {% empty %}

    <h3> Aucune information disponible </h3>
{% endfor %}

<div class="text-center">
{% if restaurants.has_other_pages %}
    <ul class="pagination">
        {% if restaurants.has_previous %}
          <li><a href="?page={{ restaurants.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in restaurants.paginator.page_range %}
          {% if restaurants.number == i %}
            <li class="active waves-effect"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if restaurants.has_next %}
          <li><a href="?page={{ restaurants.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}
</div>
<br>

    
{% endblock content %}