{% extends 'base.html' %}	
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load comments %}
{% load ratings %}

{% block slider %}

    <div class="top-image">
    	<div class="top-title">
            <h3 class="h3-responsive"></h3>
        </div>
        <img src="{% static 'img/top-restaurant.jpg' %}" class="img-responsive">
    </div>

{% endblock slider %}

{% block header %}

    <div class="container">

        <div class="rp-post-breadcrumbs text-center">
            <ol class="breadcrumb">
                <li class="">
                    <a href="">{% trans 'Home' %}</a>
                   
                </li>
                <li class="">
                    <a href="">Bonnes adresses</a>
                </li>
                <li class="active">
                   {{restaurant.category}}
                </li>
                
            </ol>
        </div>
        <div class="rp-post-header">
            <h4 class="rp-post-title h4-responsive"> Restaurants </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            </p>
        </div>
    </div>
{% endblock header %}

{% block content %}

    
<section class="rp-post-detail"> 
    {% for restaurant in restaurants %}
    <article class="row">   
    
        <div class="col-sm-5">
            <div class="view hm-zoom">
            {% if restaurant.image %}
                {% thumbnail restaurant.image  "900x800" crop="center" as im %}
                    <img src="{{im.url}}" class="img-responsive">
                {% endthumbnail %} 
            
            {% else %}
                <img src="{% static 'img/post-1.jpg' %}" class="img-responsive">     
            {% endif %}
                <div class="mask flex-center">
                   
                </div>
            </div>

        </div>
        <div class="col-sm-7">
           
            <h4 class="rp-post-title"><a href="">{{ restaurant.name|truncatechars:50 }}</a></h4>
            
       <!--Rating-->
            
                   {% ratings restaurant %}
            

            <!--/.Rating-->
            <p>{{ restaurant.description|safe|truncatechars:150 }}</p>
           <!--  <a href="" class="rp-post-btn"><em> Lire la suite → </em></a> -->
           

            <div class="rp-post-detail">
                <br>
                <dfn>
                <ul class="list-inline">
                {% if restaurant.tel %}
                    <li><strong><i class="fa fa-phone" aria-hidden="true"></i> </strong>{{restaurant.tel}}</li>
                     <br>
                {% endif %}
                   
                {% if restaurant.address %} 
                    <li><strong><i class="fa fa-map-marker" aria-hidden="true"></i> </strong>{{restaurant.address}}</li>
                    <br>
                {% endif %}
                   
                {% if restaurant.web_site %}  
                    <li><strong>Web site: </strong> {{restaurant.web_site}}</li>
                {% endif %}   
                </ul>
                </dfn>
            </div>

        </div> 
       
            
        
    </article>  
    <hr>
    <br>
    {% endfor %}
</section>
<br>
    
    <div class="text-center">
    {% if restaurants.has_other_pages %}
        <ul class="pagination">
            {% if restaurants.has_previous %}
              <li><a href="?page={{ restaurants.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in restaurants.paginator.page_range %}
              {% if restaurants.number == i %}
                <li class="active waves-effect"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if restaurants.has_next %}
              <li><a href="?page={{ restaurants.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
    </div>

    
{% endblock content %}