{% extends 'base.html' %}  
{% load staticfiles %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load humanize %}
{% load flatpages %}
{% load embed_video_tags %}
{% load i18n %}
{% load account socialaccount %}
{% load socialaccount %}
{% providers_media_js %}


{% block slide %} 


{% endblock slide %}
{% block header %}


{% endblock header %}

{% block content_base %}

        <section class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                    
                        {% block content %}
                        
                        {% endblock content %}


                    </div>
                    <!-- right menu -->

                   
                    <!-- right menu -->
                    <div class="col-md-4">
                        
                        <div class="widget-left">

                            
                            <div class="single_video">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_l6CQRHIGyg"></iframe>
                                </div>
                            </div>
                            
                        </div>
                        
                       <div class="widget-left">
                            <ul class="nav nav-tabs tabs-4">
                                <li class="active"><a data-toggle="tab" href="#menu1">Top Recettes</a></li>
                                
                                <li><a data-toggle="tab" href="#menu2">Top Vidéos</a></li>
                                <li><a data-toggle="tab" href="#menu3">Articles récents</a></li>
                            </ul>   

                            <div class="tab-content padding">
                         
                                
                                <div id="menu1" class="tab-pane fade in active ">
                                   {% for r in toprecipes %}
                                    <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i> {{r.published_at|date:'d M Y ' }}</div>
                                    <div class="media">
                                        {% if r.image %}
                                            <a class="pull-left card" href="{% url 'recipe_detail' slug=r.slug %}">
                                            {% thumbnail r.image  "70x50" crop="center" as im %}
                                                <img src="{{im.url}}" class="media-object">       
                                            {% endthumbnail %}  
                                            </a>
                                        {% else %}
                                            <a href=""></a>
                                        {% endif %}
                                       
                                        <div class="media-body">
                                            <h5 class="media-heading"><a class="cook-second-color" href="{% url 'recipe_detail' slug=r.slug %}">{{r.title|truncatechars:30}}</a></h5>
                                           <a href="#" class="icon"><i class="fa fa-eye" aria-hidden="true"></i>{{r.view}}</a> 
                                        </div>
                                    </div>
                                    <hr>
                                    {% endfor %}
                                
                                </div>

                                <div id="menu2" class="tab-pane fade">

                                    {% for r in topvideos %}
                                    <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i> {{r.published_at|date:'d M Y ' }}</div>
                                    <div class="media">
                                        <a class="pull-left card" style="width: 70px; height:50px;">
                                           {% video r.video as video %}
                                                {% video video  %}
                                            {% endvideo %}
                                        </a>
                                        
                                       
                                        <div class="media-body">
                                            <h5 class="media-heading"><a class="cook-second-color" href="{% url 'video_detail' slug=r.slug %}">{{r.title|truncatechars:30}}</a></h5>
                                           <a href="#" class="icon"><i class="fa fa-eye" aria-hidden="true"></i>{{r.view}}</a> 
                                        </div>
                                    </div>
                                    <hr>
                                    {% endfor %}
                                </div>

                                <div id="menu3" class="tab-pane fade">
                                   {% for r in lastposts %}
                                    <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i> {{r.published_at|date:'d M Y ' }}</div>
                                    <div class="media">
                                        {% if r.image %}
                                            <a class="pull-left card" href="{% url 'post_detail' slug=r.slug %}">
                                            {% thumbnail r.image  "70x50" crop="center" as im %}
                                                <img src="{{im.url}}" class="media-object">       
                                            {% endthumbnail %}  
                                            </a>
                                        {% else %}
                                            <a href=""></a>
                                        {% endif %}
                                       
                                        <div class="media-body">
                                            <h5 class="media-heading"><a class="cook-second-color" href="{% url 'post_detail' slug=r.slug %}">{{r.title|truncatechars:30}}</a></h5>
                                           <a href="#" class="icon"><i class="fa fa-eye" aria-hidden="true"></i>{{r.view}}</a> 
                                        </div>
                                    </div>
                                    <hr>
                                    {% endfor %}
                                </div>

                            
                            </div>
                        </div> 

                    

                       

                       <!-- widget -->
                        {% if top_contributors %} 

                        <div class="widget-left">

                            <h4>Top 5 des contributeurs</h4>
                            <div class="separator4"></div>
                            <div class="card">
                                
                                {% for tp in top_contributors %}

                                        
                                    
                                    <div class="media" style="padding: 10px;">
                                            
                                            <a class="pull-left" data-toggle="modal" data-target="#modalUser{{tp.author__id}}">
                                                
                                            {% if tp.author__profile__photo %}
                                                {% thumbnail tp.author__profile__photo  "70x70" crop="center" as im %}
                                                    <img src="{{im.url}}" class="media-object">     
                                                {% endthumbnail %}        

                                            {% else %}
                                                <img src="{% static 'assets/images/user_icon_g.png' %}" class="img-fluid" width="70" height="70" alt="contributor image">
                                            {% endif %}
                                             
                                              
                                            </a>
                                        
                                            
                                       
                                        <div class="media-body" style="font-size: 14px;">
                                            <h5 class="media-heading" style="font-size: 14px;">
                                            <a class="cook-second-color" href="#">
                                                {{tp.author__username}}
                                            </a></h5>
                                            &nbsp;&nbsp; {{tp.total}} Posts
                                        </div>
                                    </div>
                                    <hr>

                                   

                                    {% endfor %}
                            </div>
                        </div>
                        <!-- Widget -->
                        {% endif %}



                    </div>

                </div>


            </div>

        </section> <!-- End of portfolio two Section -->        

       

       {% endblock content_base %}
