{% extends 'base.html' %}  
{% load staticfiles %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load humanize %}
{% load flatpages %}
{% load embed_video_tags %}
{% load i18n %}
{% load account socialaccount %}
{% load socialaccount %}
{% providers_media_js %}


{% block slide %} 


{% endblock slide %}
{% block header %}


{% endblock header %}

{% block content_base %}

        <section class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                    
                        {% block content %}
                        
                        {% endblock content %}


                    </div>
                    <!-- right menu -->
                   
                    <!-- right menu -->
                    <div class="col-md-4">
                        
                        <div class="widget-left">
                            <ul class="nav nav-tabs tabs-4">
                                <li class="active"><a data-toggle="tab" href="#menu1">Top Recipes</a></li>
                                
                                <li><a data-toggle="tab" href="#menu2">Top Videos</a></li>
                                <li><a data-toggle="tab" href="#menu3">Recent Posts</a></li>
                            </ul>   

                            <div class="tab-content rgba-grey-slight padding">
                                
                                <div id="menu1" class="tab-pane fade in active ">
                                    <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 23 Feb 2018 </div>
                                    <div class="media">

                                        <a class="pull-left card" href="">
                                            <img src="{% static 'assets/images/pf1.jpg' %}" class="media-object" width="70px;" height="50px;">    
                                        </a>
                                        <div class="media-body">
                                            <h5 class="media-heading"><a class="cook-second-color">Title</a></h5>
                                           <a href="#" class="icon"><i class="fa fa-eye" aria-hidden="true"></i>20</a> 
                                        </div>
                                    </div>
                                    <hr>

                                    <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 23 Feb 2018 </div>
                                    <div class="media">

                                        <a class="pull-left card" href="">
                                            <img src="{% static 'assets/images/pf1.jpg' %}" class="media-object" width="70px;" height="50px;">    
                                        </a>
                                        <div class="media-body">
                                           <h5 class="media-heading"><a class="cook-second-color">Title</a></h5>
                                           <a href="#" class="icon"><i class="fa fa-eye" aria-hidden="true"></i>10</a> 
                                        </div>
                                    </div>
                                     
                                </div>

                                <div id="menu2" class="tab-pane fade">
                                    <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 23 Feb 2018 </div>
                                    <div class="media">

                                        <a class="pull-left card" href="">
                                            <img src="{% static 'assets/images/pf1.jpg' %}" class="media-object" width="70px;" height="50px;">    
                                        </a>
                                        <div class="media-body">
                                            <h5 class="media-heading"><a class="cook-second-color">Title</a></h5>
                                            <a href="#" class="icon"><i class="fa fa-eye" aria-hidden="true"></i>110</a> 
                                        </div>
                                    </div>
                                     <hr>
                                     <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 23 Feb 2018 </div>
                                    <div class="media">

                                        <a class="pull-left card" href="">
                                            <img src="{% static 'assets/images/pf1.jpg' %}" class="media-object" width="70px;" height="50px;">    
                                        </a>
                                        <div class="media-body">
                                            <h5 class="media-heading"><a class="cook-second-color">Title</a></h5>
                                           <a href="#" class="icon"><i class="fa fa-eye" aria-hidden="true"></i> 10</a>
                                        </div>
                                    </div>
                                </div>

                                <div id="menu3" class="tab-pane fade">
                                    <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 23 Feb 2018 </div>
                                   <div class="media">

                                        <a class="pull-left card" href="">
                                            <img src="{% static 'assets/images/pf1.jpg' %}" class="media-object" width="70px;" height="50px;">    
                                        </a>
                                        <div class="media-body">
                                           <h5 class="media-heading"><a class="cook-second-color">Title</a></h5>
                                           <a href="#" class="icon"><i class="fa fa-eye" aria-hidden="true"></i>10</a>
                                        </div>
                                    </div>
                                     <hr>
                                    <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 23 Feb 2018 </div>
                                    <div class="media">

                                        <a class="pull-left card" href="">
                                            <img src="{% static 'assets/images/pf1.jpg' %}" class="media-object" width="70px;" height="50px;">    
                                        </a>
                                        <div class="media-body">
                                            <h5 class="media-heading"><a class="cook-second-color">Title</a></h5>
                                            <a href="#" class="icon"><i class="fa fa-eye" aria-hidden="true"></i>10</a> 
                                        </div>
                                    </div>
                                </div>

                            
                            </div>
                        </div>

                    

                        <div class="widget-left">

                            <h3>Advertisment</h3>
                            <div class="separator4"></div>
                            <div class="single_video">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_l6CQRHIGyg"></iframe>
                                </div>
                            </div>
                            
                        </div>

                        <div class="widget-left">
                            <h3>Tags</h3>
                            <div class="separator4"></div>

                                <ul class="tags list-inline">
                                    <li class=""><a href="#">Lorem</a></li>
                                    <li class=""><a href="#">ipsum</a></li>
                                    <li class=""><a href="#">It dse</a></li>
                                </ul>
                        </div>


                    </div>

                </div>


            </div>

        </section> <!-- End of portfolio two Section -->        


       {% endblock content_base %}
