{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Connexion Staff" %}{% endblock %}

{% block slide %}

<section id="home" class="home">

      <!--   <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_home_slider">
                            <div class="single_home_slider">
                                <div class="main_home wow"> -->
                                    <!-- <h1>Cook' iT</h1> -->
                                    <img src="{% static 'assets/images/food_1.jpg' %}">
                                    <!-- <p class="subtitle">Découvir, Cuisiner, Savourer</p>

                                    <div class="home_btn">
                                        <a href="" class="btn btn-primary">LEARN MORE</a>
                                    </div> -->
<!--
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
{% endblock slide %}

{% block header %}


{% endblock header %}

{% block content_base %}

<section class="portfolio">
     <div class="container">
        <div class="row ">

            <div class="col-md-offset-4 col-md-4">
                <div class="login">
                    <h4 class="text-center">Login with</h4>

                      <div class="box">
                           <div class="content">


                            <div class="division">

                            </div>

                            <div class="form loginBox">
                                <form action="" method="POST" class="form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" name="username" class="form-control" id="login" aria-describedby="loginHelp" placeholder="login">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                                    </div>

                                    <div class="form-group col-md-12 form-check">

                                    </div>
                                    <button type="submit" class="btn btn-sm btn-primary btn-login" style="text-align:center;">Submit</button>
                                </form>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}








